<template>
  <!-- hidden PageHeaderWrapper title demo -->
  <page-header-wrapper :bordered="false">
    <a-card :body-style="{padding: '24px 32px'}" :bordered="false">
      <a-form @submit="handleSubmit" :form="form">
        <a-form-item
          label="所属园区"
          :labelCol="{lg: {span: 7}, sm: {span: 7}}"
          :wrapperCol="{lg: {span: 10}, sm: {span: 13} }">
          <a-input
            v-decorator="[
              'park_id Integer ',
              {rules: [{ required: true, message: '所属园区' }]}
            ]"
            name="park_id Integer"
            placeholder="请输入园区名称" />
        </a-form-item>

        <a-form-item
          label="楼栋名称"
          :labelCol="{lg: {span: 7}, sm: {span: 7}}"
          :wrapperCol="{lg: {span: 10}, sm: {span: 17} }">
          <a-input
            v-decorator="[
              'building_name String',
              {rules: [{ required: true, message: '楼栋名称' }]}
            ]"
            name="building_name String"
            placeholder="请输入" />
        </a-form-item>
        <a-form-item
          label="楼栋编号"
          :labelCol="{lg: {span: 7}, sm: {span: 7}}"
          :wrapperCol="{lg: {span: 10}, sm: {span: 17} }">
          <a-input
            v-decorator="[
              'building_number',
              {rules: [{ required: true, message: '楼栋编号' }]}
            ]"
            name="building_number"
            placeholder="请输入楼栋编号" />
        </a-form-item>
        <a-form-item
          label="门牌号"
          :labelCol="{lg: {span: 7}, sm: {span: 7}}"
          :wrapperCol="{lg: {span: 10}, sm: {span: 17} }">
          <a-input
            v-decorator="[
              'house_number',
              {rules: [{ required: true, message: '门牌号' }]}
            ]"
            name="house_number"
            placeholder="请输入" />
        </a-form-item>
        <a-form-item
          label="占地面积（㎡）"
          :labelCol="{lg: {span: 7}, sm: {span: 7}}"
          :wrapperCol="{lg: {span: 10}, sm: {span: 17} }">
          <a-input
            v-decorator="[
              'area_covered',
              {rules: [{ required: true, message: '占地面积（㎡）' }]}
            ]"
            name="area_covered"
            placeholder="请输入" />
        </a-form-item>
        <a-form-item
          label="负责人"
          :labelCol="{lg: {span: 7}, sm: {span: 7}}"
          :wrapperCol="{lg: {span: 10}, sm: {span: 17} }">
          <a-input
            v-decorator="[
              'principal_name',
              {rules: [{ required: true, message: '负责人' }]}
            ]"
            name="principal_name"
            placeholder="请输入员工姓名/后台登录手机号/后台账号名称" />
        </a-form-item>
        <a-form-item
          :wrapperCol="{ span: 24 }"
          style="text-align: center"
        >
          <a-button htmlType="submit" type="primary" @click="gotoBack">返回</a-button>
          <a-button style="margin-left: 8px">确定</a-button>
        </a-form-item>
      </a-form>
    </a-card>
  </page-header-wrapper>
</template>

<script>
export default {
  name: 'BaseForm',
  data () {
    return {
      form: this.$form.createForm(this),
       columns: [
      ]
    }
  },
  methods: {
    // handler
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values)
        }
      })
    },
     // 返回
    gotoBack () {
      this.$router.push('/space/building/list')
    }
  }
}
</script>
