<template>
  <page-header-wrapper>
    <a-card :bordered="false">
      <a-descriptions title="楼栋信息">
        <a-descriptions-item label="楼栋名称">A栋</a-descriptions-item>
        <a-descriptions-item label="楼栋编号">32489-01</a-descriptions-item>
        <a-descriptions-item label="门牌号">2381</a-descriptions-item>
        <a-descriptions-item label="占地面积积">317000m³</a-descriptions-item>
        <a-descriptions-item label="建筑面积">15000m³</a-descriptions-item>
        <a-descriptions-item label="使用面积">200000m³</a-descriptions-item>
        <a-descriptions-item label="所属园区">大族广场</a-descriptions-item>
        <a-descriptions-item label="负责人">张三</a-descriptions-item>
        <a-descriptions-item label="状态"> </a-descriptions-item>
      </a-descriptions>
      <a-divider style="margin-bottom: 32px"/>
      <a-divider style="margin-bottom: 32px"/>
      <div class="title">退货商品</div>
      <a-table
        rowKey="id"
        :loading="loading"
        :columns="floorlist"
        :data-source="listData"
        :pagination="false"
      >
        <span slot="action" slot-scope="text, record">
          <template>
            <a @click="handleDetail(record)">查看数据</a>
            <a-divider type="vertical" />
            <a @click="handleDelete(record)">修改</a>
            <a-divider type="vertical" />
            <a @click="handleDelete(record)">删除</a>
          </template>
        </span>
      </a-table>
    </a-card>
    <div class="back">
      <a-button @click="gotoBack" >返回</a-button>
      <a-button type="primary" @click="handleEdit">修改</a-button>
      <a-button type="primary" @click="handleDelete">删除</a-button>
    </div>
  </page-header-wrapper>
</template>

<script>
import { STable } from '@/components'
import { detailSpackBuilding, deleteSpackBuilding } from '@/api/building'
export default {
  components: {
    STable
  },
  data () {
    return {
      // 列表分页
      pagination: {
        pageSizeOptions: ['10', '20', '30', '40', '100'],
        defaultCurrent: 1,
        defaultPageSize: 10,
        total: 10,
        showSizeChanger: true,
        showTotal: (total, range) => `共 ${total} 条记录`
      },
      listData: [],
      floorlist: [
        {
          title: '楼栋编号',
          dataIndex: 'building_number',
          key: 'building_number'
        },
        {
          title: '建筑面积（㎡）',
          dataIndex: 'gross_floor_area',
          key: 'gross_floor_area'
        },
        {
          title: '使用面积（㎡）',
          dataIndex: 'total_area_used',
          key: 'batotal_area_usedcode'
        },
        {
          title: '层高（m）',
          dataIndex: 'storey_height_Decimal',
          key: 'storey_height_Decimal'
        },
         {
          title: '承重（kg）',
          dataIndex: 'bearing_weight_Decimal',
          key: 'bearing_weight _Decimal '
        },
          {
          title: '负责人',
          dataIndex: 'principal_name',
          key: 'principal_name'
        },
        {
          title: '操作',
          dataIndex: '',
          key: ''
        }
      ]
    }
  },
  filters: {
    statusFilter (status) {
      const statusMap = {
        'processing': '进行中',
        'success': '完成',
        'failed': '失败'
      }
      return statusMap[status]
    }
  },
  computed: {
    title () {
      return this.$route.meta.title
    }
  },
created () {
    // this.tableOption()
    this.getList()

    // getRoleList({ t: new Date() })
  },
  methods: {
    getList () {
      detailSpackBuilding(AnalyserNode).then(res => {
        console.log('res; :', res)
        this.listData = res.data.list
        this.pagination.total = res.data.count
      })
    },
     // 修改
    handleEdit (record) {
      this.$router.push({ path: '/space/building/edit', query: { id: record.id } })
    },
    // 返回
    gotoBack () {
      this.$router.push('/space/building/list')
    },
        // 删除
    handleDelete (record) {
      var _this = this
      this.$confirm({
        title: '删除楼栋',
        content: '是否确认删除该楼栋？',
        centered: true,
        okText: '确定',
        cancelText: '取消',
        onOk () {
        deleteSpackBuilding({
            id: record.id
          }).then(() => {
            _this.$message.success('删除成功')
            _this.getList()
          })
        },
        onCancel () {

        }
      })
  }
  }
}
</script>
<style lang="less" scoped>
  .title {
    color: rgba(0,0,0,.85);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }

</style>
