<template>
  <div>
    <div class="table-page-search-wrapper">
      <a-form layout="inline">
        <a-row :gutter="48">
          <!-- <a-col :md="8" :sm="15">
            <a-form-item label="园区名称">
              <a-input placeholder="请输入"/>
            </a-form-item>
          </a-col> -->
          <a-col :md="6" :sm="24">
            <a-form-item label="园区名称">
              <a-input v-model="building_name" placeholder="请输入" />
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="24">
            <a-form-item label="楼栋名称">
              <a-input v-model="building_name" placeholder="请输入" />
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="24">
            <a-form-item label="楼栋名称">
              <a-input v-model="building_name" placeholder="请输入" />
            </a-form-item>
          </a-col>
          <a-button type="primary" @click="$refs.table.refresh(true)">Q 搜索</a-button>
          <template v-if="advanced">
            <a-col :md="8" :sm="24">
              <a-form-item label="调用次数">
                <a-input-number v-model="queryParam.callNo" style="width: 100%"/>
              </a-form-item>
            </a-col>
            <a-col :md="8" :sm="24">
              <a-form-item label="更新日期">
                <a-date-picker v-model="queryParam.date" style="width: 100%" placeholder="请输入更新日期"/>
              </a-form-item>
            </a-col>
            <a-col :md="8" :sm="24">
              <a-form-item label="使用状态">
                <a-select v-model="queryParam.useStatus" placeholder="请选择" default-value="0">
                  <a-select-option value="0">全部</a-select-option>
                  <a-select-option value="1">关闭</a-select-option>
                  <a-select-option value="2">运行中</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :md="8" :sm="24">
              <a-form-item label="使用状态">
                <a-select placeholder="请选择" default-value="0">
                  <a-select-option value="0">全部</a-select-option>
                  <a-select-option value="1">关闭</a-select-option>
                  <a-select-option value="2">运行中</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </template>
          <!-- <a-col :md="!advanced && 8 || 24" :sm="24">
            <span class="table-page-search-submitButtons" :style="advanced && { float: 'right', overflow: 'hidden' } || {} ">
              <a-button type="primary" @click="$refs.table.refresh(true)">查询</a-button>
              <a-button style="margin-left: 8px" @click="() => queryParam = {}">重置</a-button>
              <a @click="toggleAdvanced" style="margin-left: 8px">
                {{ advanced ? '收起' : '展开' }}
                <a-icon :type="advanced ? 'up' : 'down'"/>
              </a>
            </span>
          </a-col> -->
        </a-row>
      </a-form>
    </div>

    <div class="table-operator">
      <a-button type="primary" icon="plus" @click="handleAdd(record)">新增楼栋</a-button>
      <a-dropdown v-action:edit v-if="selectedRowKeys.length > 0">
        <a-menu slot="overlay">
          <a-menu-item key="1"><a-icon type="delete" />删除</a-menu-item>
          <!-- lock | unlock -->
          <a-menu-item key="2"><a-icon type="lock" />锁定</a-menu-item>
        </a-menu>
        <a-button style="margin-left: 8px">
          批量操作 <a-icon type="down" />
        </a-button>
      </a-dropdown>
      <a-button type="primary" icon="vertical-align-top" @click="handleEdit()">批量上传</a-button>

      <a href="mailto:">下载模板</a>
    </div>
    <a-table rowKey="id" :loading="loading" :columns="columns" :data-source="listData" :pagination="pagination">
      <span slot="serial" slot-scope="text, record, index">
        {{ index + 1 }}
      </span>
      <span slot="status" slot-scope="text">
        <span v-if="text == -1">已删除</span>
        <span v-if="text == 1">已下线</span>
        <span v-if="text == 2">已上线</span>
      </span>
      <span slot="action" slot-scope="text, record">
        <template>
          <a @click="handleDetail(record)">查看</a>
          <a-divider type="vertical" />
          <a @click="handleEdit(record)">修改</a>
          <a-divider type="vertical" />
          <a @click="handleDelete(record)">删除</a>
        </template>
      </span>
    </a-table>
  </div>
</template>
<script>
// import { STable } from '@/components'
import { getSpackBuildingList, deleteSpackBuilding } from '@/api/building'
const columns = [
  {
    title: '所属园区',
    dataIndex: 'park_id_Integer',
    id: '1',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: '楼栋名称',
    dataIndex: 'building_name_String',
    id: '2',
    ellipsis: true
  },
  {
    title: '门牌号',
    dataIndex: 'house_number',
    id: '3',
    ellipsis: true
  },
  {
    title: '占地面积（㎡）',
    dataIndex: 'area_covered',
    id: '4',
    ellipsis: true
  },
  {
    title: '建筑面积（㎡）',
    dataIndex: 'gross_floor_area',
    id: '5',
    ellipsis: true
  },
  {
    title: '使用面积（㎡）',
    dataIndex: 'total_area_used',
    id: '6',
    ellipsis: true
  },
  {
    title: '楼层总数',
    dataIndex: 'floors_number',
    id: '7',
    ellipsis: true
  },
  {
    title: '地上楼层总数',
    dataIndex: 'floors_above_ground',
    id: '8',
    ellipsis: true
  },
  {
    title: '地下楼层总数',
    dataIndex: 'underground_floors_number',
    id: '9',
    ellipsis: true
  },
  {
    title: '状态',
    dataIndex: 'status',
    id: '10',
    ellipsis: true
  },
  {
    title: '负责人',
    dataIndex: 'principal_name',
    id: '11',
    ellipsis: true
  },
  {
    title: '操作',
    dataIndex: 'action',
    id: '12',
    scopedSlots: { customRender: 'action' }
  }
]
export default {
  name: 'TableList',
  components: {},
  data () {
    return {
      listData: [],
      columns,
      mdl: {},
      // 高级搜索 展开/关闭
      advanced: false,
      // 查询参数
      queryParam: {},
       selectedRowKeys: [],
      selectedRows: [],
      // 列表分页
      pagination: {
        pageSizeOptions: ['10', '20', '30', '40', '100'],
        defaultCurrent: 1,
        defaultPageSize: 10,
        total: 10,
        showSizeChanger: true,
        showTotal: (total, range) => `共 ${total} 条记录`
      },
      optionAlertShow: false,
      building_name: ''
    }
  },
 created () {
    // this.tableOption()
    this.student()
    this.currentTime()
    this.character()
    this.Extract()
    this.cover()
    this.array()
    this.Addarray()
    this.function()
    this.Exchange()
    this.loop()
    this.return()
    this.indexStringSubstring()
    // 字符串类型，引号嵌套
    this.characterString()
    // 获取字符串的长度
    this.length()
    // this.loading()
    this.getList()
  },
  methods: {
    // 自定义对象，身份，学生1
    student () {
      var fullName = '福像'
      var identity = '学生'
      var age = '20'
      console.log(fullName)
      console.log(identity)
      console.log(age)
    },
    // 获取当前时间2
    currentTime () {
      var date = new Date()
       console.log(date)
    },
    // 字符串链接3
    character () {
      var str1 = 'huxiang'
      var str2 = 'huhuhuhu'
      console.log(str1.concat(str2))
    },
    // 从起始索引号提取字符串中指定书目的字符4
    Extract () {
      var str = 'dsfdsfsdg wsdsdsdhao dajiahao'
      var str3 = str.substr(3, 19)
      // 字符串中空格不占位置，从3开始，到19结束
      console.log(str3)
    },
    // 更新变量5
    cover () {
      var maname = '杨幂'
      console.log(maname)
      maname = '刘诗诗'
      console.log(maname)
    },
    // 6 数组返回从原数组中指定开始下表到结束下表之间的项组成的新数组（原数组不变）
    array () {
      var arr = [2, 3, 4, 5, 6, 7, 7, 8, 9, 10]
      var arr1 = arr.slice(2, 8)
      console.log(arr1)
      var arr3 = arr.slice(5)
      console.log(arr3)
    },
    // 7  将参数添加到数组的最后，返回新数组的长度
    Addarray () {
      var arr = [2, 3, 4, 5]
       console.log(arr.length)
      var num = arr.push(6, 7, 8, 9, 10)
      console.log(num)
      console.log(arr)
    },
    // 8 foeEach():对数组的每个元素执行一次提供的函数
    function () {
      var array1 = ['a', 'b', 'c']
      array1.forEach(function (element) {
      console.log(element)
    })
    },
    // 交换两个变量
    // 我们需要一个临时变量
    Exchange () {
      var temp
      var apple1 = '青苹果'
      var apple2 = '红苹果'
      temp = apple1
      apple1 = apple2
      apple2 = temp
      console.log(apple1)
      console.log(apple2)
    },
    // .数组循环小于68的数，输出小于68的数
     loop () {
        var age = [1, 32, 5, 7, 67, 77, 88, 'sdff', '1']
        var array = []
        for (var i = 0; i < age.length; i++) {
          if (age[i] <= 77) {
            array.push(age[i])
          }
        }
       console.log(array)
     },
     // 返回0-30的随机数
    return () {
      var number1 = Math.ceil(Math.random() * 30) // 返回1-30随机数
			console.log(number1)
    },
    // 10.search()：检索与字符串匹配的子串，返回的是地址
    indexStringSubstring () {
      var str1 = 'lixiaoqi nihaoya zaiganma'
      var str2 = 'nihaoya'
      var str3 = 'wobuzai'
      var num1 = str1.search(str2)
      // 返回的是第一个字符所在的位置
      var num2 = str1.search(str3)
      // 未检测到返回-1
      console.log(num1)
      console.log(num2)
    },
    // 字符串类型，
    characterString () {
      var strMsg3 = '我是一个高富帅的程序员'
      console.log(strMsg3)
      // 引号嵌套
      var strMsg2 = '我是一个“高富帅”的程序员'
      console.log(strMsg2)
      // 字符串转义字符  都是以 \ 开头， 要写到引号内
      var strMsg1 = '我是一个\n“高富帅”的程序员,换行'
      console.log(strMsg1)
    },
    // 获取字符串的长度
    length () {
      var str = '3 ftyuih gyui gy8ui'
      console.log(str.length) // 19
      // 字符串拼接
      console.log('福像' + '杨晓辉')
      console.log(12 + 12) // 24
      console.log('12' + 12) // 1212
      // 字符串加强
      console.log('福像' + 20)
      var age = 20
      console.log('福像' + age + '岁')
    },
    // 列表数据
    getList () {
      var option = {
        building_name: this.building_name,
        page_index: this.pagination.page_index,
        page_size: this.pagination.page_size
      }
      this.loading = true
      getSpackBuildingList(option).then(items => {
        console.log('items::', items)
        this.loading = false
        this.listData = items.data.list
        this.pagination.total = items.data.count
      })
    },
    // 查看详情
    handleDetail (record) {
      this.$router.push({ path: '/space/building/detail', query: { id: record.id } })
    },
    // 新增
    handleAdd (record) {
      this.$router.push('/space/building/add')
    },
    // 修改
    handleEdit (record) {
      this.$router.push({ path: '/space/building/edit', query: { id: record.id } })
    },
    // 删除
    handleDelete (record) {
      var _this = this
      this.$confirm({
        title: '删除楼栋',
        content: '是否确认删除该楼栋？',
        centered: true,
        okText: '确定',
        cancelText: '取消',
        onOk () {
          deleteSpackBuilding({
            id: record.id
          }).then(() => {
            _this.$message.success('删除成功')
            _this.getList()
          })
        },
        onCancel () {
        }
      })
  }
  }
}
</script>
