<!--楼层新增修改组件-->
<template>
  <a-card :body-style="{padding: '24px 32px'}" :bordered="false">
    <a-form @submit="handleSubmit" :form="form">
      <a-form-item
        label="所属园区"
        :labelCol="{lg: {span: 7}, sm: {span: 7}}"
        :wrapperCol="{lg: {span: 10}, sm: {span: 17} }">
        <a-input
          rows="4"
          placeholder="请输入楼层编号"
          v-decorator="[
            'park_name',
            {rules: [{ required: true, message: '选择所属园区' }]}
          ]" />
      </a-form-item>
      <a-form-item
        label="所属楼栋"
        :labelCol="{lg: {span: 7}, sm: {span: 7}}"
        :wrapperCol="{lg: {span: 10}, sm: {span: 17} }">
        <a-input
          rows="4"
          placeholder="请输入楼层编号"
          v-decorator="[
            'building_name',
            {rules: [{ required: true, message: '请选择所属楼栋' }]}
          ]" />
      </a-form-item>
      <a-form-item
        label="楼层编号"
        :labelCol="{lg: {span: 7}, sm: {span: 7}}"
        :wrapperCol="{lg: {span: 10}, sm: {span: 17} }">
        <a-input
          rows="4"
          placeholder="请输入楼层编号"
          v-decorator="[
            'floor_name',
            {rules: [{ required: true, message: '请输入楼层编号' }]}
          ]" />
      </a-form-item>
      <a-form :form="form" :label-col="{ span: 7 }" :wrapper-col="{ span: 10 }" @submit="handleSubmit">
        <a-form-item label="地上/地下">
          <a-select
            v-decorator="[
              'gender',
              { rules: [{ required: true, message: 'Please select your gender!' }] },
            ]"
            placeholder="Select a option and change input text above"
            @change="handleSelectChange"
          >
            <a-select-option value="1">
              地上
            </a-select-option>
            <a-select-option value="2">
              地下
            </a-select-option>
          </a-select>
        </a-form-item>
      </a-form>
      <a-form-item
        label="层高(m)"
        :labelCol="{lg: {span: 7}, sm: {span: 7}}"
        :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
        :required="true">
        <a-input-number
          :min="0.1"
          :max="999"
          :step="0.1"
          placeholder="层高"
          v-decorator="[
            'storey_height',
            {rules: [{ required: true, message: '请输入层高' }]}
          ]" />
      </a-form-item>
      <a-form-item
        label="承重(公斤)"
        :labelCol="{lg: {span: 7}, sm: {span: 7}}"
        :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
        :required="true">
        <a-input-number
          :min="0.01"
          :max="99999999"
          :step="0.01"
          placeholder="承重(公斤)"
          v-decorator="[
            'bearing_weight',
            {rules: [{ required: true, message: '请输入承重' }]}
          ]" />
      </a-form-item>
      <a-form-item
        label="负责人"
        :labelCol="{lg: {span: 7}, sm: {span: 7}}"
        :wrapperCol="{lg: {span: 10}, sm: {span: 17} }">
        <a-input
          rows="4"
          placeholder="请选择负责人"
          v-decorator="[
            'principal_name',
            {rules: [{ required: true, message: '请选择负责人' }]}
          ]" />
      </a-form-item>
      <a-form-item
        :labelCol="{lg: {span: 7}, sm: {span: 7}}"
        :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
        :required="false"
        class="form-lable-none">
        <span slot="label"></span>
        <a-button @click="gotoBack" type="">返回</a-button>
        <a-button @click="gotoBack" htmlType="submit" type="primary" style="margin-left: 10px">确定</a-button>
      </a-form-item>
    </a-form>
    <park-name ref="parkName" @selectCall="selectParkCall"></park-name>
    <building-name ref="building" :parkName="park_name" @selectCall="selectBuildingCall"></building-name>
    <principal ref="principal" @selectCall="selectPrincipalCall"></principal>
  </a-card>
</template>

<script>
import { detailSpackFloor, addSpackFloor, editSpackFloor } from '@/api/floor'
export default {
  name: 'FloorModific',
  components: {
  },
  props: {
    modificType: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      form: this.$form.createForm(this),
      // 园区id
      park_id: '',
      // 园区名称
      park_name: '',
      // 楼栋id
      principal_user_account: '',
      // 楼层类型
      floor_type: [
        {
          label: '地上楼层',
          value: '1'
        },
        {
          label: '地下楼层',
          value: '2'
        }
      ]
    }
  },
  created () {
    var _id = this.$route.query.id
    if (_id) {
      this.getDetail(_id)
    }
  },
  methods: {
    // 详情查询
    getDetail (_id) {
      detailSpackFloor({
        id: _id
      }).then(res => {
          var d = res.data
          this.form.setFieldsValue({
            'park_name': d.park_name,
            'building_name': d.building_name,
            'floor_name': d.floor_name,
            'floor_type': String(d.floor_type),
            'storey_height': d.storey_height,
            'bearing_weight': d.bearing_weight,
            'principal_name': d.principal_name
          })
          this.park_id = d.park_id
          this.building_id = d.building_id
          this.principal_user_account = d.principal_user_account
      })
    },
    // 新增修改确认提交
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          values.park_id = this.park_id
          if (values.principal_name) values.principal_user_account = this.principal_user_account
          if (values.building_name) values.building_id = this.building_id
          // 如果操作类型修改或者添加
          var _id = this.$route.query.id
          if (_id) {
            values.id = _id
            values.area_covered = String(values.area_covered)
            editSpackFloor(values).then(res => {
                if (res.data.id) {
                  this.$message.success('修改成功')
                  this.$router.push('/space/floor/Edit')
                } else {
                  this.$message.error('修改失败')
                }
            })
          } else {
            addSpackFloor(values).then(res => {
              if (res.data.id) {
                this.$message.success('添加成功')
                this.$router.push('/space/floor/list')
              } else {
                this.$message.error('添加失败')
              }
            })
          }
        }
      })
    },
    // 点击显示园区弹窗
    showParkName (item) {
      this.$refs.parkName.showVisible()
    },
    // 选择回调
    selectParkCall (item) {
      this.form.setFieldsValue({
        park_name: item.park_name
      })
      this.park_id = item.id
      this.park_name = item.park_name
    },
    // 点击显示负责人弹窗
    showPrincipal (item) {
      this.$refs.principal.showVisible()
    },
    // 选择回调
    selectPrincipalCall (item) {
      this.form.setFieldsValue({
        principal_name: item.name
      })
      this.principal_user_account = item.account
    },
    // 点击显示栋栋弹窗
    showBuildingName (item) {
      if (!this.park_name) {
        this.$message.error('请先选择所属园区')
        return
      }
      this.$refs.building.showVisible()
    },
    // 选择回调
    selectBuildingCall (item) {
      this.form.setFieldsValue({
        building_name: item.building_name
      })
      this.building_id = item.id
    },
    // 返回
    gotoBack () {
      this.$router.push('/space/floor/list')
    }
  }
}
</script>
