<template>
  <page-header-wrapper>
    <a-card :bordered="false">
      <a-descriptions title="楼层信息">
        <a-descriptions-item label="楼层缩号">984-01</a-descriptions-item>
        <a-descriptions-item label="层高">2.5m</a-descriptions-item>
        <a-descriptions-item label="承重">2000kg</a-descriptions-item>
        <a-descriptions-item label="建筑面积">15000m</a-descriptions-item>
        <a-descriptions-item label="使用面积">200000</a-descriptions-item>
        <a-descriptions-item label="所属园区">大族广场</a-descriptions-item>
        <a-descriptions-item label="所属楼梯">A栋</a-descriptions-item>
        <a-descriptions-item label="负责人">张三</a-descriptions-item>
        <a-descriptions-item label="状态">已上线</a-descriptions-item>
      </a-descriptions>
      <a-divider style="margin-bottom: 32px" />
      <div class="title">房间信息</div>
      <div class="table-operator">
        <a-button type="primary" icon="plus" @click="handleAdd(record)">新增楼层</a-button>
      </div>
      <s-table style="margin-bottom: 24px" row-key="id" :columns="goodsColumns" :data="loadGoodsData">
        <span slot="serial" slot-scope="text, record, index">
          {{ index + 1 }}
        </span>
        <span slot="action" slot-scope="text, record">
          <template>
            <a @click="handleDetail(record)">查看</a>
            <a-divider type="vertical" />
            <a @click="handleEdit(record)">修改</a>
            <a-divider type="vertical" />
            <a @click="handleDelete(record)">删除</a>
            <a-divider type="vertical" />
          </template>
        </span>
      </s-table>
      <div class="title"></div>
      <a-form-item :wrapperCol="{ span: 24 }" style="float:right;margin-top:130px;">
        <a-button style="margin-left: 8px" @click="gotoBack">返回</a-button>
        <a-divider type="vertical" />
        <a-button @click="handleEdit" htmlType="submit" type="primary">修改</a-button>
        <a-divider type="vertical" />
        <a-button @click="handleDelete" htmlType="submit" type="primary">删除</a-button>
      </a-form-item>
    </a-card>
  </page-header-wrapper>
</template>
<script>
import { STable } from '@/components'
import { detailSpackFloor, deleteSpackFloor } from '@/api/floor'
export default {
  components: {
  STable
  },
  data () {
    return {
      goodsColumns: [
        {
          title: '房源编号',
          dataIndex: 'floor_name_String',
          id: '1'
        },
        {
          title: '建筑面积㎡',
          dataIndex: 'gross_floor_area',
          id: '2'
        },
        {
          title: '使用面积㎡',
          dataIndex: 'total_area_used',
          id: '3'
        },
        {
          title: '是否注册',
          dataIndex: 'register',
          id: '4'
        },
        {
          title: '适应用途',
          dataIndex: 'businessoffice',
          id: '5'
        },
        {
          title: '房间类型',
          dataIndex: 'roomtype',
          id: '6'
        },
        {
          title: '负责人',
          dataIndex: 'principal_name',
          id: '7'
        },
        {
          title: '操作',
          dataIndex: 'action',
          width: '200px',
          scopedSlots: {
          customRender: 'action'
          }
        }
      ],
      // 加载数据方法 必须为 Promise 对象
      loadGoodsData: () => {
        return new Promise((resolve) => {
          resolve({
            data: [
              {
                floor_name_String: 'A1001',
                gross_floor_area: '150',
                total_area_used: '130',
                register: '是',
                businessoffice: '商务办公',
                roomtype: '楼宇',
                principal_name: '张三'
              },
              {
                floor_name_String: 'A1002',
                gross_floor_area: '185',
                total_area_used: '165',
                register: '是',
                businessoffice: '商务办公',
                roomtype: '厂房',
                principal_name: '张三'
              },
              {
                floor_name_String: 'A1003',
                gross_floor_area: '150',
                total_area_used: '135',
                register: '否',
                businessoffice: '商务办公',
                roomtype: '楼宇',
                principal_name: '张三'
              }
            ],
            pageSize: 8,
            pageNo: 1,
            totalPage: 1,
            totalCount: 10
          })
        }).then((res) => {
          return res
        })
      },

      loadScheduleData: () => {
        return new Promise((resolve) => {}).then((res) => {})
      }
    }
  },
  filters: {
    statusFilter (status) {
      const statusMap = {
      processing: '进行中',
      success: '完成',
      failed: '失败'
      }
      return statusMap[status]
    }
  },
  computed: {
    title () {
      return this.$route.meta.title
    }
  },
  methods: {
    // 详情查询
    getDetail (_id) {
      detailSpackFloor({
        id: _id
      }).then(res => {
        // console.log(res)
        this.detail = res.data
      })
    },
    // 列表数据查询
    detailSpackFloor () {
      this.loading = true
      detailSpackFloor({ }).then(res => {
        // console.log(res)
        this.loading = false
        this.listData = res.data.data
        // this.pagination.total = res.data.data_count
      })
    },
    // 查看房间信息
    handleDetail (record) {
      this.$router.push({ path: '/space/floor/add', query: { id: record.id } })
    },
    // 新增
    handleAdd (record) {
      this.$router.push('/space/floor/add')
    },
    // 修改
    handleEdit (record) {
      this.$router.push({ path: '/space/floor/edit', query: { id: record.id } })
    },
    // 删除
    handleDelete (record) {
      var _this = this
      this.$confirm({
        title: '删除楼层',
        content: '是否确认删除该楼层？',
        centered: true,
        okText: '确定',
        cancelText: '取消',
        onOk () {
          console.log('aa:', record)
          deleteSpackFloor({
            id: record.id
          }).then(() => {
            _this.$message.success('删除成功')
            _this.getList()
          })
        }
      })
    },
    // 返回
    gotoBack () {
       this.$router.push('/space/floor/list')
    }
  }
}
</script>

<style lang="less" scoped>
.title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
</style>
