<template>
  <page-header-wrapper :bordered="false">
    <div>
      <div class="table-page-search-wrapper">
        <a-form layout="inline">
          <a-row :gutter="48">
            <a-col :md="6" :sm="24">
              <a-form-item label="园区名称">
                <a-input v-model="queryParam.id" placeholder="" />
              </a-form-item>
            </a-col>
            <a-col :md="6" :sm="24">
              <a-form-item label="楼栋名称">
                <a-input v-model="queryParam.id" placeholder="" />
              </a-form-item>
            </a-col>
            <a-col :md="6" :sm="24">
              <a-form-item label="楼层编号">
                <a-input v-model="queryParam.id" placeholder="" />
              </a-form-item>
            </a-col>
            <a-col :md="6" :sm="24">
              <a-form-item label="负责人姓名">
                <a-input v-model="queryParam.id" placeholder="" />
              </a-form-item>
            </a-col>
            <template v-if="advanced"> </template>
            <a-col :md="(!advanced && 8) || 24" :sm="24">
              <span
                class="table-page-search-submitButtons"
                :style="(advanced && { float: 'right', overflow: 'hidden' }) || {}"
              >
                <a-button type="primary" icon="search">搜索</a-button>
              </span>
            </a-col>
          </a-row>
        </a-form>
      </div>
      <div class="table-operator">
        <a-button type="primary" icon="plus-circle" @click="handleAdd(record)">新增楼层</a-button>
        <a-button type="primary" icon="plus" @click="handleEdit()">批量上传</a-button>
        <a href="#" target="_blank" style="text-decoration: underline">下载模块</a>
        <a-dropdown v-action:edit v-if="selectedRowKeys.length > 0">
          <a-menu slot="overlay">
            <a-menu-item key="1"><a-icon type="delete" />删除</a-menu-item>
            <a-menu-item key="2"><a-icon type="lock" />锁定</a-menu-item>
          </a-menu>
          <a-button style="margin-left: 8px"> 批量操作 <a-icon type="down" /> </a-button>
        </a-dropdown>
      </div>
      <a-table rowKey="id" :columns="columns" :data-source="listData" :pagination="pagination">
        <span slot="serial" slot-scope="text, record, index">
          {{ index + 1 }}
        </span>
        <span slot="status" slot-scope="text">
          <span v-if="text == -1">已删除</span>
          <span v-if="text == 1">已下线</span>
          <span v-if="text == 2">已上线</span>
        </span>
        <span slot="action" slot-scope="text, record">
          <template>
            <a @click="handleDetail(record)">查看</a>
            <a-divider type="vertical" />
            <a @click="handleEdit(record)">修改</a>
            <a-divider type="vertical" />
            <a @click="handleDelete(record)">删除</a>
          </template>
        </span>
      </a-table>
    </div>
    <div>
    </div>
  </page-header-wrapper>
</template>

<script>
import { getSpackFloorList, deleteSpackFloor } from '@/api/floor'
const columns = [
  {
    title: '所属园区',
    dataIndex: 'park_name',
    key: '1'
  },
  {
    title: '楼栋名称',
    dataIndex: 'building_name',
    key: '2'
  },
  {
    title: '楼层编号',
    dataIndex: 'floor_name',
    key: '3'
  },
  {
    title: '建筑面积',
    dataIndex: 'gross_floor_area',
    key: '4'
  },
  {
    title: '使用面积',
    dataIndex: 'total_area_used',
    key: '5'
  },
  {
    title: '层高',
    dataIndex: 'storey_height',
    key: '6'
  },
  {
    title: '承重',
    dataIndex: 'bearing_weight',
    key: '7'
  },
  {
    title: '状态',
    dataIndex: 'status',
    key: '8'
  },
  {
    title: '负责人',
    key: '9',
    dataIndex: 'principal_name'
  },
  {
    title: '操作',
    dataIndex: 'action',
    width: '160px',
    scopedSlots: { customRender: 'action' }
  }
]
export default {
  name: 'FloorList',
  components: {
  },
  data () {
    return {
      // loading: [],
      floor_name: '22',
      listData: [],
      columns,
      mdl: {},
      // 高级搜索 展开/关闭
      advanced: false,
      // 查询参数
      queryParam: {},
      // 表头
      // 列表分页
      pagination: {
        pageSizeOptions: ['10', '20', '30', '40', '100'],
        defaultCurrent: 1,
        defaultPageSize: 10,
        total: 10,
        showSizeChanger: true,
        showTotal: (total, range) => `共 ${total} 条记录`
      },
      optionAlertShow: false,
      selectedRowKeys: [],
      selectedRows: []
    }
  },
  created () {
    // this.tableOption()
    this.getList()
    // this.heiGhtq()
    this.additiveCalculation()
    this.bubbling()
    this.ranDom()
    this.naMeq()
    this.tarGet()
    this.strIng()
    this.repLace()
    this.mAp()
    this.fiNd()
    this.addprOperties()
    this.indexString()
    // this.switcHewrr()
    this.ergOdic()
    this.binAry()
    // getRoleList({ t: new Date() })
  },
  methods: {
    // 列表数据
    getList () {
      var option = {
        floor_name: this.floor_name,
        page_index: this.pagination.defaultCurrent,
        page_size: this.pagination.defaultPageSize
      }
      getSpackFloorList(option).then((res) => {
        this.listData = res.data.list
        this.pagination.total = res.data.count
      })
    },
    // // 1：身高除以体重求是否正常
    // heiGhtq () {
    //   // 创建一个身高的对象
    // var height = Number(prompt('请输入身高:'))
		// var weight = Number(prompt('请输入体重:'))
		// var bmi = weight / (height * height)
		// bmi > 25 ? console.log('您偏胖') : bmi < 20 ? console.log('您偏瘦') : console.log('恭喜，真好')
    // },
    // 2：数组计算
    additiveCalculation () {
      var numbera = 1232
      var nullb = 453534
      var andv = numbera + nullb
      console.log(andv)
    },
    // 3：在多个数中获取一个最大的数
    bubbling () {
      var a = Math.max(12, 334, 4, 23, 324, 3242, 23)
      // 最大值
			console.log(a)
    },
    // 4：返回0-20的随机数
    ranDom () {
      var number1 = Math.ceil(Math.random() * 20) // 返回1-20随机数
			console.log(number1)
    },
    // 5：随机获得一个名字
    naMeq () {
      var Aclass = ['优酷乳', '雷碧', '营养牵线']
			function getAname (arr) {
				var num = arr.length
				var Anum = Math.floor(Math.random() * num)
				return arr[Anum]
			}
			var aName = getAname(Aclass)
			console.log('' + aName + '')
    },
    // 6:字符串连接
    tarGet () {
      var person = {
        firstName: '邓玉龙',
        lastName: 'dengyulong',
        age: '19',
        eat: 'hamburger'
      }
      console.log(person.firstName + '已经' + person.age + '岁了')
    },
    // 7:indexOf()： 检索字符串，返回的是字符在字符串的下标
    strIng () {
      var str1 = 'lixiaoqi'
      var num1 = str1.indexOf('o') // 检索字符串，返回的是字符在字符串的下标
      // 字符串的下标是从0开始计数
      var num2 = str1.indexOf('lllll') // 没有找到匹配的值，返回-1
      var num3 = str1.indexOf('ni') // 没有找到匹配的值，返回-1
      console.log(num1)
      console.log(num2)
      console.log(num3)
    },
    // 8:替换匹配字符串
    repLace () {
      var str1 = 'nihaome'
      var str2 = 'lixiaoqi'
      var str3 = str1.replace(str1.match('hao'), str2.match('lixi'))
      // 找到str1的hao，找到str2的lixi，用str2替换掉str1
      console.log(str3)
    },
    // 9:map数组遍历
    mAp () {
      var arr = [1, 2, 3, 2, 4]
      var result = arr.map(function (value) {
        value += 1
        return value
        // console.log(value)
      })
      console.log(arr, result)
    },
    // 10.find 直接在数组里找到对应的值
    fiNd () {
      var arr = [1, 2, 3, 2, 4]
      var res = arr.find(function (value) {
        return value === 2
      })
      console.log(arr, res)
    },
    // 11.给对象添加和删除数据
    addprOperties () {
      var worker = {
      name: 'xiaoming',
      age: 23,
      salary: 7000,
      'middle-school': 'No.1 Middle School'
      }
      // 动态添加属性
      worker.time = 20
      worker.weight = 100
      // 删除属性
      delete worker.weight
      // alert(worker.salary+worker.name+worker.age);
      console.log(worker.time)
      console.log(worker.weight)
      console.log(worker.name)
      console.log(worker['name'])
      console.log(worker['middle-school'])
      console.log(worker.mother)
      },
      // 12.search()：检索与字符串匹配的子串，返回的是地址
      indexString () {
      var str1 = 'lixiaoqi nihaoya zaiganma'
      var str2 = 'nihaoya'
      var str3 = 'wobuzai'
      var num1 = str1.search(str2)
      // 返回的是第一个字符所在的位置
      var num2 = str1.search(str3)
      // 未检测到返回-1
      console.log(num1)
      console.log(num2)
    },
    // // 13.switch
    // switcHewrr () {
    //   var day
    // switch (new Date().getDay()) {
    //   case 0:
    //     day = '周日'
    //     break
    //   case 1:
    //     day = '周一'
    //     break
    //   case 2:
    //     day = '周二'
    //     break
    //   case 3:
    //     day = '周三'
    //     break
    //   case 4:
    //     day = '周四'
    //     break
    //   case 5:
    //     day = '周五'
    //     break
    //   case 6:
    //     day = '周六'
    // }
    // document.getElementById('demo').innerHTML = '今天是' + day
    // },
    // 14.循环遍历数组
    ergOdic () {
      const obj = {
      id: 1,
      name: 'zhangsan',
      age: 18
      }
      for (var key in obj) {
      console.log(key + '---' + obj[key])
  }
    },
    // 15 binary 使用 for-in 遍历 JSON 解析后得到的对象属性
    binAry () {
      var json = '{"age":8,"company":"XXX公司", "city":["广州","深圳","珠海"],' + '"ceo":{"firstName":"Jason","lastName" : "Hunter"}}'
      var obj = JSON.parse(json)
      var num = 0
      for (var item in obj) {
      num++
      console.log('第' + num + '个条目名称＝' + item + '，它的值如下：')
      console.log(obj[item])
      }
    },
    // 查看详情
    handleDetail (record) {
    this.$router.push({ path: '/space/floor/detail', query: { id: record.id } })
    },
    // 修改
    handleEdit (record) {
      this.$router.push({ path: '/space/floor/edit', query: { id: record.id } })
    },
    // 删除
    handleDelete (record) {
      var _this = this
      this.$confirm({
        title: '删除楼层',
        content: '是否确认删除该楼层',
        centered: true,
        okText: '确定',
        cancelText: '取消',
        onOk () {
          console.log('aa:', record)
          deleteSpackFloor({
            id: record.id
          }).then(() => {
            _this.$message.success('删除成功')
            _this.getList()
          })
        },
        onCancel () {

        }
      })
    },
    // 重置回调
    resetSearchForm () {
      this.provider_name = ''
      this.park_name = ''
      this.building_name = ''
      this.floor_name = ''
      this.pagination.page_index = 1
      this.getList()
    },
    // 新增
    handleAdd (record) {
      this.$router.push('/space/floor/edit')
    }
  }
}
</script>
