<template>
  <!-- hidden PageHeaderWrapper title demo -->
  <page-header-wrapper>
    <Modific modificType="add"></Modific>
  </page-header-wrapper>
</template>

<script>
import Modific from './Modific'
export default {
  name: 'FloorAdd',
    components: {
      Modific
    },
  data () {
    return {
      form: this.$form.createForm(this)
    }
  },
  methods: {
    // handler
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values)
        }
      })
    }
  }
}
</script>
