<template>
  <page-header-wrapper>
    <a-card :bordered="false" type="inner">
      <a-descriptions title="查看详情" size="small" :col="2">
        <a-descriptions-item label="园区名称">大族广场</a-descriptions-item>
        <a-descriptions-item label="位置">北京 北京市 大兴区 兴盛街与荣华南路东北角</a-descriptions-item>
      </a-descriptions>
      <a-descriptions size="small">
        <a-descriptions-item label="占地面积">317000m²</a-descriptions-item>
        <a-descriptions-item label="建筑面积">15000m²</a-descriptions-item>
        <a-descriptions-item label="园区名称">200000m²</a-descriptions-item>
        <a-descriptions-item label="入园评审">需要</a-descriptions-item>
        <a-descriptions-item label="负责人姓名">张三</a-descriptions-item>
        <a-descriptions-item label="园区均价">3.5元/平/天</a-descriptions-item>
        <a-descriptions-item label="状态">已上线</a-descriptions-item>
        <a-descriptions-item label="招商方向">生物医药 电子信息 节能环保</a-descriptions-item>
      </a-descriptions>
      <a-descriptions title="图片" style="margin-top: 24px; width: 400px" :col="3">
        <div>
          <img
            src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3629377055,3169726033&fm=26&gp=0.jpg"
            style="width: 120px; height: 100px"
          />
        </div>
        <div>
          <img
            src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3629377055,3169726033&fm=26&gp=0.jpg"
            style="width: 120px; height: 100px"
          />
        </div>
        <div>
          <img
            src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3629377055,3169726033&fm=26&gp=0.jpg"
            style="width: 120px; height: 100px"
          />
        </div>
      </a-descriptions>
      <a-descriptions title="园区特色" size="small" :col="3" style="margin-top: 16px">
        <a-descriptions-item label="园区产业特色">生物医药 电子信息 节能环保</a-descriptions-item>
      </a-descriptions>
      <a-descriptions :col="3">
        <a-descriptions-item label="园区资质认证">孵化器、众创空间</a-descriptions-item>
      </a-descriptions>
      <a-descriptions :col="3">
        <a-descriptions-item label="数据网络接入">电信一级</a-descriptions-item>
      </a-descriptions>
      <a-descriptions :col="3">
        <a-descriptions-item label="是否有股权投资基金">有</a-descriptions-item>
      </a-descriptions>
      <a-descriptions :col="3">
        <a-descriptions-item label="创新基地">是</a-descriptions-item>
      </a-descriptions>
      <a-descriptions :col="3">
        <a-descriptions-item label="电力">照明电（220V）</a-descriptions-item>
      </a-descriptions>
      <a-descriptions :col="3">
        <a-descriptions-item label="移动通讯覆盖">电信</a-descriptions-item>
      </a-descriptions>
      <a-descriptions :col="3">
        <a-descriptions-item label="物业单位资质">二级</a-descriptions-item>
      </a-descriptions>
      <a-descriptions :col="3">
        <a-descriptions-item label="是否为特色产业园会员">已挂牌</a-descriptions-item>
      </a-descriptions>
      <a-descriptions :col="3">
        <a-descriptions-item label="是否有专业技术平台">有</a-descriptions-item>
      </a-descriptions>
      <a-descriptions :col="3">
        <a-descriptions-item label="专业技术平台">平台名称1、平台名称2</a-descriptions-item>
      </a-descriptions>
      <a-descriptions :col="3">
        <a-descriptions-item label="服务配套">政策申请、公司年龄</a-descriptions-item>
      </a-descriptions>
    </a-card>
    <a-card style="margin-top: 24px" :bordered="false" title="楼栋信息">
      <div class="table-operator">
        <a-button type="primary" icon="plus" @click="handleAdd">新建</a-button>
      </div>
      <a-table
        v-if="operationActiveTabKey === '1'"
        :columns="operationColumns"
        :dataSource="operation1"
        :pagination="false"
      >
        <span slot="action" slot-scope="text, record">
          <a @click="handledetail(record)">查看</a>
          <a-divider type="vertical" />
          <a @click="handleEdit(record)">修改</a>
          <a-divider type="vertical" />
          <a @click="handleDelete(record)">删除</a>
        </span>
      </a-table>
    </a-card>
    <a-card :bordered="false" type="inner" style="margin-top: 24px">
      <div class="table-operator" style="float: right">
        <a-button @click="gotoBack">返回</a-button>
        <a-button type="primary" @click="handleEdit" :loading="loading">修改</a-button>
        <a-button type="primary" @click="validate" :loading="loading">下线</a-button>
        <a-button type="primary" @click="handleDelete" :loading="loading">删除</a-button>
      </div>
    </a-card>
  </page-header-wrapper>
</template>
<script>
import { deleteSpackPark } from '@/api/park'
export default {
  name: 'ParkDetail',
  components: {},
  data () {
    return {
      operationActiveTabKey: '1',
      operationColumns: [
        {
          title: '楼栋名称',
          dataIndex: 'buildingName',
          key: '1'
        },
        {
          title: '门牌号',
          dataIndex: 'houseNumber',
          key: '2'
        },
        {
          title: '占地面积(m²)',
          dataIndex: 'area_Number',
          key: '3'
        },
        {
          title: '建筑面积(m²)',
          dataIndex: 'gross_floor_area',
          key: '4'
        },
        {
          title: '使用面积(m²)',
          dataIndex: 'total_area_used',
          key: '5'
        },
        {
          title: '负责人',
          dataIndex: 'principal_name_String',
          key: '6'
        },
        {
          title: '操作',
          dataIndex: 'operation',
          key: '7',
          scopedSlots: { customRender: 'action' }
        }
      ],
      operation1: [
        {
          id: 'op1',
          buildingName: 'A座',
          houseNumber: '01',
          area_Number: '1000',
          gross_floor_area: '1000',
          total_area_used: '1000',
          principal_name_String: '张三'
        },
        {
          id: 'op2',
          buildingName: 'B座',
          houseNumber: '02',
          area_Number: '1500',
          gross_floor_area: '750',
          total_area_used: '750',
          principal_name_String: '张三'
        },
        {
          id: 'op3',
          buildingName: 'C座',
          houseNumber: '03',
          area_Number: '1360',
          gross_floor_area: '750',
          total_area_used: '750',
          principal_name_String: '张三'
        }
      ]
    }
  },
  methods: {
    handleDetail (record) {
      this.$router.push({
        path: '/space/park/Detail',
        query: {
          id: record.id
        }
      })
    },
    // 修改
    handleEdit (record) {
      this.$router.push({ path: '/space/park/edit', query: { id: record.id } })
    },
    // 删除
    handleDelete (record) {
      var _this = this
      this.$confirm({
        title: '删除园区',
        content: '是否确认删除该园区？',
        centered: true,
        okText: '确定',
        cancelText: '取消',
        onOk () {
          deleteSpackPark({
            id: record.id
          }).then(() => {
            _this.$message.success('删除成功')
            _this.getList()
          })
        },
        onCancel () {}
      })
    },
    // 返回
    gotoBack () {
      this.$router.push('/space/park/list')
    }
  }
}
</script>
<style>
.avatar {
  width: 120px;
  height: 100px;
}
</style>
