<template>
  <route-view></route-view>
</template>

<script>
import { RouteView } from '@/layouts'
export default {
  components: {
    RouteView
  },
  mixins: [],
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {

  },
  watch: {
    '$route' (val) {
      // this.updateMenu()
    }
  }
}
</script>

<style lang="less" scoped>
</style>
