<template>
  <div>
    <div class="table-page-search-wrapper">
      <a-form layout="inline">
        <a-row :gutter="48">
          <a-col :md="6" :sm="24">
            <a-form-item label="园区名称">
              <a-input placeholder="请输入"/>
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="24">
            <a-form-item label="入园评审">
              <a-select v-model="queryParam.status" placeholder="请输入" default-value="0">
                <!-- <a-select-option value="0">全部</a-select-option>
                <a-select-option value="1">关闭</a-select-option>
                <a-select-option value="2">运行中</a-select-option> -->
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="24">
            <a-form-item label="状态">
              <a-select v-model="queryParam.status" placeholder="请输入" default-value="0">
                <!-- <a-select-option value="0">全部</a-select-option>
                <a-select-option value="1">关闭</a-select-option>
                <a-select-option value="2">运行中</a-select-option> -->
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="24">
            <a-form-item label="负责人">
              <a-input placeholder="请输入"/>
            </a-form-item>
          </a-col>
          <template v-if="advanced">
            <a-col :md="6" :sm="24">
              <a-form-item label="调用次数">
                <a-input-number v-model="queryParam.callNo" style="width: 100%"/>
              </a-form-item>
            </a-col>
            <a-col :md="6" :sm="24">
              <a-form-item label="更新日期">
                <a-date-picker v-model="queryParam.date" style="width: 100%" placeholder="请输入更新日期"/>
              </a-form-item>
            </a-col>
            <a-col :md="8" :sm="24">
              <a-form-item label="使用状态">
                <a-select v-model="queryParam.useStatus" placeholder="请选择" default-value="0">
                  <a-select-option value="0">全部</a-select-option>
                  <a-select-option value="1">关闭</a-select-option>
                  <a-select-option value="2">运行中</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
            <a-col :md="8" :sm="24">
              <a-form-item label="使用状态">
                <a-select placeholder="请选择" default-value="0">
                  <a-select-option value="0">全部</a-select-option>
                  <a-select-option value="1">关闭</a-select-option>
                  <a-select-option value="2">运行中</a-select-option>
                </a-select>
              </a-form-item>
            </a-col>
          </template>
          <!-- <a-col :md="!advanced && 8 || 24" :sm="24">
            <span class="table-page-search-submitButtons" :style="advanced && { float: 'right', overflow: 'hidden' } || {} ">
              <a-button type="primary" @click="$refs.table.refresh(true)">查询</a-button>
              <a-button style="margin-left: 8px" @click="() => queryParam = {}">重置</a-button>
              <a @click="toggleAdvanced" style="margin-left: 8px">
                {{ advanced ? '收起' : '展开' }}
                <a-icon :type="advanced ? 'up' : 'down'"/>
              </a>
            </span>
          </a-col> -->
        </a-row>
      </a-form>
    </div>

    <div class="table-operator">
      <a-button type="primary" icon="search" @click="getList()">搜索</a-button>
    </div>
    <a-card :bordered="false" type="inner">
      <a-button type="primary" icon="plus-circle" @click="handleAdd()">新增园区</a-button>
      <a-table rowKey="id" :loading="loading" :columns="columns" :data-source="listData" :pagination="pagination">
        <span slot="serial" slot-scope="text, record, index">
          {{ index + 1 }}
        </span>
        <!-- <span slot="assessment" slot-scope="text">
          <span v-if="text == 0">否</span>
          <span v-if="text == 1">是</span>
        </span>
        <span slot="status" slot-scope="text">
          <span v-if="text == 0">0</span>
          <span v-if="text == 1">已下线</span>
          <span v-if="text == 2">已上线</span>
        </span> -->
        <span slot="action" slot-scope="text, record">
          <template>
            <a @click="handleDetail(record)">查看</a>
            <a-divider type="vertical" />
            <a @click="handleEdit(record)">修改</a>
            <a-divider type="vertical" />
            <a @click="handleOffline(record)">下线</a>
            <a-divider type="vertical" />
            <a @click="handleDelete(record)">删除</a>
          </template>
        </span>
      </a-table>
    </a-card>
  </div>
</template>

<script>
// import moment from 'moment'
// import { STable } from '@/components'
import { getSpackParkList, deleteSpackPark } from '@/api/park'
const columns = [
  {
    title: '园区名称',
    dataIndex: 'park_name',
    slots: { title: 'customTitle' },
    scopedSlots: { customRender: 'name' }
  },
  {
    title: '占地面积(m²)',
    dataIndex: 'area_Number'
  },
  {
    title: '位置',
    dataIndex: 'park_address'
  },
  {
    title: '是否入园评审',
    dataIndex: 'assessment_Integer'
  },
  {
    title: '负责人',
    dataIndex: 'principal_name'
  },
  {
    title: '状态',
    dataIndex: 'status'
  },
  {
    title: '操作',
    dataIndex: 'action',
    scopedSlots: { customRender: 'action' }
  }
]
export default {
  name: 'Parklist',
  components: {
    // STable
  },
  data () {
    return {
      // 列表分页
      pagination: {
        pageSizeOptions: ['10', '20', '30', '40', '100'],
        defaultCurrent: 1,
        defaultPageSize: 10,
        total: 10,
        showSizeChanger: true,
        showTotal: (total, range) => `共 ${total} 条记录`
      },
      listData: [],
      columns,
      mdl: {},
      // 高级搜索 展开/关闭
      advanced: false,
      // 查询参数
      queryParam: {},
      selectedRowKeys: [],
      selectedRows: [],
      park_name: '',
      optionAlertShow: false,
      loading: false
    }
  },
  created () {
     // 数字相乘，打印a乘b的值
    this.Multiply()
    // 数字相乘
     this.formatDate()
    // 获取年月日
    this.Ghoujkli()
    // 数组循环小于68的数，输出小于68的数
    this.loop()
    // 结果组成的数组
    this.form()
    // 数组的元素组成一个字符串
    this.changeinto()
    // 把字符串换成大写
    this.Acquisitiontime()
    // 获取当前时间
    this.merge()
    // 合并两个或多个数组
     this.Printing()
     // 打印三角形
     this.traversingArrays()
     // typeof 方法, 返回该对象数据类型
     this.Returned()
     // IndexOf()方法,返回某个指定的字符串值在字符串中首次出现的位置
     this.position()
     // substring()方法,方法用于提取字符串中介于两个指定下标之间的字符
     this.character()
     this.functionCallRunArray()
     // 对数组的每一项运行给定的函数，返回没戏函数调用的结果组成的数组
    this.getList()
  },
  methods: {
    // 1.数字相乘，打印a乘b的值
    Multiply () {
      var a = 89
      var b = 13
      var c = a * b
      console.log(a, b, c)// 打印a b c 相乘的值为
    },
     //  2.获取年月日
     formatDate () {
      const date = new Date()
      const year = date.getFullYear()
      // 年
     const month = date.getMonth() + 1
     // 月
     const day = date.getDate()
     // 日
     const week = date.getDay()
     // 星期
     console.log(year)
     console.log(month)
     console.log(day)
     console.log(week)
      },
    // 3.获取数组长度，字符串拼接
     Ghoujkli () {
         var a = []
         a = [1, 2, 'ghij', true, 3456, 7788, null, 35.34]
         console.log(a[7])
        // console.log(a.length)
     },
     // 4.数组循环小于68的数，输出小于68的数
     loop () {
        var age = [1, 26, 45, 68, 128, 77, 88, null, 'sdff', '1']
        var array = []
        for (var i = 0; i < age.length; i++) {
          if (age[i] <= 68) {
            array.push(age[i])
          }
        }
       console.log(array)
     },
     // 5.对数组的每一项运行给定的函数，返回函数调用的结果组成的数组
     result () {
        var array1 = [1, 4, 9, 16]
        const map1 = array1.map(x => x * 2) // 对数组的每项*2
        console.log(map1)
     },
     // 6.接受两个参数，要查找的项和查找起点的位置索引
     lookup () {
         var arr = [1, 2, 3, 4, 5, 6, 78]
         var num = arr.indexOf(78, 3)// 查找78所在的位置
         console.log(num) // 返回的项的索引
         var num1 = arr.indexOf(3, 1)
         console.log(num1)
         var num2 = arr.indexOf(2)
         console.log(num2)
         console.log(arr)
     },
    // 7.将数组的元素组成一个字符串
    form () {
      var arr1 = [1, 'q', 3, 6, 2, 'a', 9]
      var arr2 = arr1.join(',')// 以逗号分隔
      var arr3 = arr1.join('')// 以空格分隔
      console.log(arr1)// 原数组不变
      console.log(arr2)
      console.log(arr3)
    },
    // 8.把字符串换成大写的
    changeinto () {
      var str = 'wangshiyao'
      console.log(str.toLocaleUpperCase())
      var str1 = str.toLocaleUpperCase()
      console.log('-----------')
      console.log(str1)
      console.log(str)// 原字符串不变
    },
     // 9.获取当前时间
     Acquisitiontime () {
       var date = new Date()
       console.log(date)
     },
     // 10.合并两个或多个数组
     merge () {
        var arr = []
        var arr1 = [12, 24, 68, 84, 92]
        var arr2 = [1, 2, 4, 6, 8, 10]
        var arrn = [null]
        console.log(arr.concat(arr1, arr2, arrn))
     },
     // 11.打印三角形
     Printing () {
       for (var i = 0; i <= 5; i++) {
         for (var j = 0; j <= 5 - i; j++) {
           document.writeln('&nbsp;')
           }
           for (var k = 0; k < i; k++) {
             document.writeln('口')
             }
             document.writeln('</br>')
             }
             console.log(i, j)
             },
      // 12.for in方法：遍历数组
    traversingArrays () {
      var arr = [1, 4, 9, 16]
      for (var i = 0; i < arr.length; i++) {
        console.log(arr[i])
        }
    },
    // 13.typeof 方法, 返回该对象数据类型
    Returned () {
      var array = ['a', 'b', 'c']
      var demo01 = '今天天气可真好啊, 是个睡觉的好天气啊'
      var demo02 = 14
      console.log('demo01的数据类型' + typeof demo01)
      console.log('demo02的数据类型' + typeof demo02)
      console.log('array的数据类型' + typeof array)
      console.log(array)
      console.log(demo01)
    },
    // 14.IndexOf()方法,返回某个指定的字符串值在字符串中首次出现的位置。
    position () {
    var demo = 'Welcome to the wangzherongyao'
    console.log('to首次在字符串出现' + demo.indexOf('to'))
    console.log('To首次在字符串出现' + demo.indexOf('To'))
    console.log('o首次在字符串出现' + demo.indexOf('o'))
    console.log('Welcome首次' + demo.indexOf('Welcome'))
    },
    // 15.substring()方法,方法用于提取字符串中介于两个指定下标之间的字符
    character () {
      var stringObject = '输了就要认'
     console.log('输了' + stringObject.substring(2))
     console.log('输了' + stringObject.substring(2, 4))
    },
    // 16.对数组的每一项运行给定的函数，返回没戏函数调用的结果组成的数组
    functionCallRunArray () {
      var array1 = [1, 4, 9, 16]
      const map1 = array1.map(x => x * 2)
      // 对数组的每项*2
      console.log(map1)
    },
    //  重置回调
    resetSearchForm () {
      this.provider_name = ''
      this.park_name = ''
      this.pagination.defaultCurrent = 1
      this.getList()
    },
    // 列表数据
    getList () {
      var option = {
        park_name: this.park_name,
        page_index: this.pagination.defaultCurrent,
        page_size: this.pagination.defaultPageSize
      }
      this.loading = true
      getSpackParkList(option).then(items => {
        console.log('items::', items)
        this.loading = false
        this.listData = items.data.list
        this.pagination.total = items.data.count
      })
    },
    // 查看详情
    handleDetail (record) {
      this.$router.push({
        path: '/space/park/detail',
        query: {
          id: record.id
        }
      })
    },
    // 新增
    handleAdd (record) {
      this.$router.push('/space/park/add')
    },
    // 修改
    handleEdit (record) {
      this.$router.push({ path: '/space/park/edit', query: { id: record.id } })
    },
    // 删除
    handleDelete (record) {
      var _this = this
      this.$confirm({
        title: '删除园区',
        content: '是否确认删除该园区？',
        centered: true,
        okText: '确定',
        cancelText: '取消',
        onOk () {
          deleteSpackPark({
            id: record.id
          }).then(() => {
            _this.$message.success('删除成功')
            _this.getList()
          })
        },
        onCancel () { }
      })
    },
       // 下线
    handleOffline (record, index) {
      var _this = this
      this.$confirm({
        title: '下线园区',
        content: '是否确认下线该园区？',
        centered: true,
        okText: '确定',
        cancelText: '取消',
        onOk () {
          deleteSpackPark({
            park_id: record.id,
            status: index
          }).then(() => {
            _this.$message.success('下线成功')
            _this.getList()
          })
          // _this.$post('experimentServiceStatus', {
          //  id: record.id
          // }).then(() => {
          //   _this.$notification.success ({ message: '系统提示',  description: '删除成功', duration: 3})
          //   getServiceList()
          // })
        },
        onCancel () {
        }
      })
    },
    gotoDetail (item) {}
  }
}
</script>
