<!--园区新增修改组件-->
<template>
  <a-card :body-style="{padding: '24px 32px'}" :bordered="false">
    <a-steps :current="step" size="small" class="park-steps">
      <a-step title="第一步" />
      <a-step title="第二步" />
      <a-step title="第三步" />
    </a-steps>
    <step1 v-if="step == 0" :stepData="stepData1" @back="back" @stepChange="stepChange"></step1>
    <step2 v-if="step == 1" :stepData="stepData2" @back="back" @stepChange="stepChange"></step2>
    <step3 v-if="step == 2" :stepData="stepData3" @back="back" @stepChange="stepChange"></step3>
  </a-card>
</template>

<script>
import storage from 'store'
import { detailSparkPack, addSpackPark, editSpackPark } from '@/api/park'
import Step1 from './components/step1'
import Step2 from './components/step2'
import Step3 from './components/step3'
export default {
  name: 'ParkModific',
  components: {
    Step1,
    Step2,
    Step3
  },
  props: {
    modificType: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      // 当前第几步
      step: -1,
      // 第一步数据
      stepData1: {},
      // 第二步数据
      stepData2: {},
      // 第三步数据
      stepData3: {}
    }
  },
  created () {
    var _id = this.$route.query.id
    if (_id) {
      this.deleteStep()
      this.getDetail(_id)
    } else {
      console.log('storage.get step::', storage.get('step'))
      var _step = storage.get('step') || 0
      var _stepData1 = storage.get('stepData1')
      var _stepData2 = storage.get('stepData2')
      this.step = _step
      // 如果第1步有数据填充
      if (_stepData1) this.stepData1 = _stepData1
      // 如果第2步有数据填充
      if (_stepData2) this.stepData2 = _stepData2
    }
  },
  methods: {
    // step回调
    stepChange (step, data) {
      // 第一步
      if (step === 0) {
        this.step = 1
        this.stepData1 = data
        storage.set('step', this.step)
        storage.set('stepData1', this.stepData1)
      }
      // 第二步
      if (step === 1) {
        this.step = 2
        this.stepData2 = data
        storage.set('step', this.step)
        storage.set('stepData2', this.stepData2)
      }
      // 第三步
      if (step === 2) {
        this.stepData3 = data
        storage.set('stepData3', this.stepData3)
        this.stepSubmit()
      }
      console.log('this.stepData::', step, data)
    },
    // 返回上一步
    back (index) {
      this.step = index
    },
    // 详情查询
    getDetail (_id) {
      detailSparkPack({
        id: _id
      }).then(res => {
        var item = res.data
        this.stepData1 = {
          'park_name': item.park_name,
          'area': item.area,
          'assessment': item.assessment,
          'principal_name': item.principal_name,
          'average_price': item.average_price,
          'investment_direction': item.investment_direction,
          'description': item.description,
          'park_images': item.park_images
        }
        var arr = []
        if (item.industrial_characteristics) {
          for (var i = 0; i < item.industrial_characteristics.length; i++) {
            arr.push(item.industrial_characteristics[i].id)
          }
        }
        var keys = []
        if (item.professional_technology_platform_name) {
          for (var k = 0; k < item.professional_technology_platform_name.length; k++) {
            keys.push(k)
          }
        }
        this.stepData2 = {
          'industrial_characteristics': arr,
          'qualification_certification': item.qualification_certification,
          'data_network_access': item.data_network_access,
          'investment_fund': String(item.investment_fund),
          'innovation_base': String(item.innovation_base),
          'electric_power': item.electric_power,
          'mobile_communication_coverage': item.mobile_communication_coverage,
          'property_unit_qualification': String(item.property_unit_qualification),
          'members_characteristic_industrial': String(item.members_characteristic_industrial),
          'professional_technology_platform': String(item.professional_technology_platform),
          'keys': keys,
          'names': item.professional_technology_platform_name
        }
        var match = []
        if (item.service_matching) {
          for (var j = 0; j < item.service_matching.length; j++) {
            match.push(item.service_matching[j].id)
          }
        }
        this.stepData3 = {
          'service_matching': match
        }
        this.step = 0
      })
    },
    // 提交
    stepSubmit () {
      var obj = Object.assign(this.stepData1, this.stepData2, this.stepData3)
      var _id = this.$route.query.id
      // 如果操作类型修改或者添加
      if (_id) {
        obj.id = parseInt(_id)
        editSpackPark(obj).then(res => {
          if (res.message === '') {
            this.$message.success('修改成功')
            this.$router.push('/space/park/list')
            this.deleteStep()
          } else {
            this.$message.error('修改失败')
          }
        })
      } else {
        addSpackPark(obj).then(res => {
          if (res.message === '') {
            this.$message.success('添加成功')
            this.$router.push('/space/park/list')
            this.deleteStep()
          } else {
            this.$message.error('添加失败')
          }
        })
      }
    },
    // 删除3步缓存数据
    deleteStep () {
      localStorage.removeItem('step')
      localStorage.removeItem('stepData1')
      localStorage.removeItem('stepData2')
      localStorage.removeItem('stepData3')
    },
    // 招商方向回调
    onChange () {

    }
  }
}
</script>
<style lang="less">
.park-steps{
  max-width: 1024px;
  margin: 10px auto 30px;
}
</style>
