<!--园区step3组件-->
<template>
  <a-form @submit="stepSubmit" :form="form">
    <a-form-item
      label="园区产业特色"
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
      :required="false" >
      <a-radio-group v-decorator="['target', { initialValue: 1 }]">
        <a-checkbox :value="1">汽车及现代装备制造</a-checkbox>
        <a-checkbox :value="1">电子信息</a-checkbox>
        <a-checkbox :value="1">商贸服务</a-checkbox>
        <a-checkbox :value="1">通用航空</a-checkbox>
        <a-checkbox :value="1">生物医疗</a-checkbox>
        <a-checkbox :value="1">新材料</a-checkbox>
        <a-checkbox :value="1">大健康</a-checkbox>
        <a-checkbox :value="1">旅游文化</a-checkbox>
        <a-checkbox :value="1">其他</a-checkbox>
      </a-radio-group>
    </a-form-item>
    <a-form-item
      label="园区资质认证"
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
      :required="true">
      <a-checkbox-group
        :options="qualification_certification"
        v-decorator="['qualification_certification',{rules: [{ required: true, message: '请选择园区资质认证' }]}]">
      </a-checkbox-group>
    </a-form-item>
    <a-form-item
      label="数据网络接入"
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
      :required="true">
      <a-checkbox-group
        :options="data_network_access"
        v-decorator="['data_network_access',{rules: [{ required: true, message: '请选择数据网络接入' }]}]">
      </a-checkbox-group>
    </a-form-item>
    <a-form-item
      label="是否有投资基金"
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
      :required="true">
      <a-radio-group
        :options="investment_fund"
        v-decorator="['investment_fund',{rules: [{ required: true, message: '请选择是否有投资基金' }]}]">
      </a-radio-group>
    </a-form-item>
    <a-form-item
      label="创新基地"
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
      :required="true">
      <a-radio-group
        :options="innovation_base"
        v-decorator="['innovation_base',{rules: [{ required: true, message: '请选择创新基地' }]}]">
      </a-radio-group>
    </a-form-item>
    <a-form-item
      label="电力"
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
      :required="true">
      <a-checkbox-group
        :options="electric_power"
        v-decorator="['electric_power',{rules: [{ required: true, message: '请选择电力' }]}]">
      </a-checkbox-group>
    </a-form-item>
    <a-form-item
      label="移动通讯覆盖"
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
      :required="true">
      <a-checkbox-group
        :options="mobile_communication_coverage"
        v-decorator="['mobile_communication_coverage',{rules: [{ required: true, message: '请选择移动通讯覆盖' }]}]">
      </a-checkbox-group>
    </a-form-item>
    <a-form-item
      label="物业单位资质"
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
      :required="true">
      <a-radio-group
        :options="property_unit_qualification"
        v-decorator="['property_unit_qualification',{rules: [{ required: true, message: '请选择物业单位资质' }]}]">
      </a-radio-group>
    </a-form-item>
    <a-form-item
      label="是否为特色产业园会员"
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
      :required="true">
      <a-radio-group
        :options="members_characteristic_industrial"
        v-decorator="['members_characteristic_industrial',{rules: [{ required: true, message: '请选择是否为特色产业园会员' }]}]">
      </a-radio-group>
    </a-form-item>
    <a-form-item
      label="是否有专业技术平台"
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
      :required="true">
      <a-radio-group
        :options="professional_technology_platform"
        v-decorator="['professional_technology_platform',{rules: [{ required: true, message: '请选择是否有专业技术平台' }]}]">
      </a-radio-group>
    </a-form-item>
    <a-form-item
      v-for="(k, index) in form.getFieldValue('keys')"
      :key="k"
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
      :label="index === 0 ? '专业技术平台' : ' '"
      :required="false">
      <span slot="label"></span>
      <a-input
        v-decorator="[
          `names[${k}]`,
          {
            validateTrigger: ['change', 'blur'],
            rules: [
              {
                required: true,
                whitespace: true,
                message: '请填写平台名称',
              },
            ],
          },
        ]"
        placeholder="请填写平台名称"
        style="width: 60%; margin-right: 8px"
      />
      <a-icon
        style="margin-left: 10px;"
        v-if="form.getFieldValue('keys').length > 1"
        class="dynamic-delete-button"
        type="minus-circle-o"
        :disabled="form.getFieldValue('keys').length === 1"
        @click="() => remove(k)"
      />
      <!-- <span v-if="form.getFieldValue('keys').length-1 === index" @click="add" style="padding-left: 20px;">增加</span> -->
    </a-form-item>
    <a-form-item
      v-if="form.getFieldValue('professional_technology_platform') == 1"
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
      :required="false"
      class="form-lable-none">
      <span slot="label"></span>
      <span @click="add">增加</span>
    </a-form-item>
    <a-form-item
      :labelCol="{lg: {span: 7}, sm: {span: 7}}"
      :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
      :required="false"
      class="form-lable-none">
      <span slot="label"></span>
      <a-button @click="gotoBack" type="">上一步</a-button>
      <a-button htmlType="submit" type="primary" style="margin-left: 10px;">下一步</a-button>
    </a-form-item>
  </a-form>
</template>

<script>
let id = 0
export default {
  name: 'ParkModific',
  props: {
  // stepData: {
  //     type: Object
  //   }
  },
  data () {
    return {
      // 园区产业特色字典数据
      baseDict_5: [{
        value: 1,
        label: 323
      }],
      // form: this.$form.createForm(this),
      // 园区资质认证 1孵化器;2众创空间;3留学人员创业员;4中小企业创业基地;5科技成果转化基地;6战略性产业基地;9其它
      qualification_certification: [
        {
          label: '孵化器',
          value: '1'
        },
        {
          label: '众创空间',
          value: '2'
        },
        {
          label: '留学人员创业员',
          value: '3'
        },
        {
          label: '中小企业创业基地',
          value: '4'
        },
        {
          label: '科技成果转化基地',
          value: '5'
        },
        {
          label: '战略性产业基地',
          value: '6'
        },
        {
          label: '其它',
          value: '9'
        }
      ],
      // 数据网络接入 1电信一级;2移动一级;3联通一级;4其它二级
      data_network_access: [
        {
          label: '电信一级',
          value: '1'
        },
        {
          label: '移动一级',
          value: '2'
        },
        {
          label: '联通一级',
          value: '3'
        },
        {
          label: '其它二级',
          value: '4'
        }
      ],
      // 是否有股权投资基金 投资基金:0无;1有
      investment_fund: [
        {
          label: '无',
          value: '0'
        },
        {
          label: '有',
          value: '1'
        }
      ],
      // 创新基地:0否;1是
      innovation_base: [
        {
          label: '是',
          value: '1'
        },
        {
          label: '否',
          value: '0'
        }
      ],
      // 电力:1照明电(220V);2动力电(380V)
      electric_power: [
        {
          label: '照明电(220V)',
          value: '1'
        },
        {
          label: '动力电(380V)',
          value: '2'
        }
      ],
      // 移动通讯覆盖:1电信;2移动;3联通
      mobile_communication_coverage: [
        {
          label: '电信',
          value: '1'
        },
        {
          label: '移动',
          value: '2'
        },
        {
          label: '联通',
          value: '3'
        }
      ],
      // 物业单位资质:1一级;2二级;3三级;4无
      property_unit_qualification: [
        {
          label: '一级',
          value: '1'
        },
        {
          label: '二级',
          value: '2'
        },
        {
          label: '三级',
          value: '3'
        },
        {
          label: '无',
          value: '4'
        }
      ],
      // 是否为特色产业园会员 1已挂牌;2申请挂牌;3会员单位;4非会员单位
      members_characteristic_industrial: [
        {
          label: '已挂牌',
          value: '1'
        },
        {
          label: '申请挂牌',
          value: '2'
        },
        {
          label: '会员单位',
          value: '3'
        },
        {
          label: '非会员单位',
          value: '4'
        }
      ],
      // 是否有专业技术平台:0否;1是
      professional_technology_platform: [
        {
          label: '否',
          value: '0'
        },
        {
          label: '是',
          value: '1'
        }
      ]
    }
  },
  beforeCreate () {
    this.form = this.$form.createForm(this)
    this.form.getFieldDecorator('keys', { initialValue: [], preserve: true })
  },
  created () {
    var item = this.stepData
    if (item) {
      setTimeout(() => {
        this.form.setFieldsValue({
          'industrial_characteristics': item.industrial_characteristics,
          'qualification_certification': item.qualification_certification,
          'data_network_access': item.data_network_access,
          'investment_fund': item.investment_fund,
          'innovation_base': item.innovation_base,
          'electric_power': item.electric_power,
          'mobile_communication_coverage': item.mobile_communication_coverage,
          'property_unit_qualification': item.property_unit_qualification,
          'professional_technology_platform': item.professional_technology_platform,
          'members_characteristic_industrial': item.members_characteristic_industrial,
          'keys': item.keys
        })
        console.log('item.names::', item.names)
        // if (item.names.length) {
        //   for (var i = 0; i < item.names.length; i++) {
            // this.form.setFieldsValue({
            //   'names[0]': item.names[0],
            //   'names[1]': item.names[1]
            // })
        //   }
        // }
      }, 100)
      setTimeout(() => {
        if (item.names.length) {
          for (var i = 0; i < item.names.length; i++) {
            this.form.setFieldsValue({
              ['names[' + i + ']']: item.names[i]
            })
          }
        }
      }, 300)
    }
  },
  methods: {
    remove (k) {
      // can use data-binding to get
      const keys = this.form.getFieldValue('keys')
      console.log('keys:::', keys, k)
      // We need at least one passenger
      if (keys.length === 1) {
        return
      }

      // can use data-binding to set
      this.form.setFieldsValue({
        keys: keys.filter(key => key !== k)
      })
    },
    add () {
      // can use data-binding to get
      const keys = this.form.getFieldValue('keys') || []
      console.log('keys::', keys)
      const nextKeys = keys.concat(id++)
      // can use data-binding to set
      // important! notify form to detect changes
      this.form.setFieldsValue({
        keys: nextKeys
      })
    },
    // 第三步提交
    stepSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          if (values.professional_technology_platform === '1') {
            var arr = []
            for (var i = 0; i < values.names.length; i++) {
              if (values.names[i]) arr.push(values.names[i])
            }
            values.professional_technology_platform_name = arr
          }
          // values.professional_technology_platform = parseInt(values.professional_technology_platform)
          values.names = ''
          values.keys = ''
          console.log('values 3::', values)
          this.$emit('stepChange', 1, values)
        }
      })
    },
    // 上一步
    gotoBack () {
      this.$emit('back', 0)
    },
    // 招商方向回调
    onChange () {

    }
  }
}
</script>
<style lang="less">
.park-steps{
  width: 1024px;
  margin: 10px auto 30px;
}
</style>
