<!--园区新增修改组件-->
<template>
  <a-form @submit="stepSubmit" :form="form">
    <a-form-item
      label="服务套餐"
      :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
      :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
      :required="false"
    >
      <a-radio-group v-decorator="['target', { initialValue: 1 }]">
        <a-checkbox :value="1">政策申请</a-checkbox>
        <a-checkbox :value="1">公司年检</a-checkbox>
        <a-checkbox :value="1">法律咨询</a-checkbox>
        <a-checkbox :value="1">定期活动</a-checkbox>
        <a-checkbox :value="1">商务聚会</a-checkbox>
        <a-checkbox :value="1">人事代理</a-checkbox>
        <a-checkbox :value="1">财务代理</a-checkbox>
      </a-radio-group>
    </a-form-item>
    <a-form-item
      :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
      :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
      :required="false"
      class="form-lable-none"
    >
      <span slot="label"></span>
      <a-button @click="gotoBack">上一步</a-button>
      <a-button htmlType="submit" type="primary" style="margin-left: 10px">完成</a-button>
    </a-form-item>
  </a-form>
</template>

<script>
export default {
  name: 'ParkModific',
  props: {
    // stepData: {
    //   type: Object
    // }
  },
  data () {
    return {
      // 服务配套字典数据
      baseDict_1: [
        {
          value: 1,
          key: 112
        }
      ],
      form: this.$form.createForm(this)
    }
  },
  created () {
    var item = this.stepData
    console.log('item::', item)
    if (item) {
      setTimeout(() => {
        this.form.setFieldsValue({
          service_matching: item.service_matching
        })
      }, 100)
    }
  },
  methods: {
    // 第三步提交
    stepSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          this.$emit('stepChange', 2, values)
        }
      })
    },
    // 上一步
    gotoBack () {
      this.$emit('back', 1)
    }
  }
}
</script>
<style lang="less">
.park-steps {
  width: 1024px;
  margin: 10px auto 30px;
}
</style>
