<!--园区step1组件-->
<template>
  <a-form @submit="stepSubmit" :form="form">
    <a-form-item
      label="园区名称"
      :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
      :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
    >
      <a-input
        v-decorator="['park_name String ', { rules: [{ required: true, message: '请输入' }] }]"
        name="park_name String  "
        placeholder="请输入"
      />
    </a-form-item>
    <a-form-item
      label="占地面积（m²）"
      :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
      :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
    >
      <a-input
        v-decorator="['area Number  (m) ²', { rules: [{ required: true, message: '请输入' }] }]"
        name="area Number "
        placeholder="请输入"
      />
    </a-form-item>
    <a-form-item
      label="入园评审"
      :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
      :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
    >
      <a-select
        placeholder="请输入员工姓名/后台登录手机号/后台账号名称"
        v-decorator="['approver', { rules: [{ required: true, message: '请选择审批员' }] }]"
      >
        <a-select-option value="王晓丽">王晓丽</a-select-option>
        <a-select-option value="李军">李军</a-select-option>
      </a-select>
    </a-form-item>
    <a-form-item
      label="负责人"
      :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
      :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
    >
      <a-input
        v-decorator="['principal_name String ', { rules: [{ required: true, message: '请输入' }] }]"
        name="principal-name-String "
        placeholder="请输入"
      />
    </a-form-item>
    <a-form-item
      label="园区均价(元/m²/月)"
      :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
      :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
    >
      <a-input
        v-decorator="['average_price Number (yuan / M) ²/ Month)', { rules: [{ required: true, message: '请输入' }] }]"
        name="average_price Number "
        placeholder="请输入"
      />
    </a-form-item>
    <a-form-item
      label="招商方向（多选）"
      :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
      :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
      :required="false"
    >
      <a-radio-group v-decorator="['target', { initialValue: 1 }]">
        <a-checkbox :value="1">汽车及现代装备制造</a-checkbox>
        <a-checkbox :value="1">电子信息</a-checkbox>
        <a-checkbox :value="1">商贸服务</a-checkbox>
        <a-checkbox :value="1">通用航空</a-checkbox>
        <a-checkbox :value="1">生物医疗</a-checkbox>
        <a-checkbox :value="1">新材料</a-checkbox>
        <a-checkbox :value="1">大健康</a-checkbox>
        <a-checkbox :value="1">旅游文化</a-checkbox>
        <a-checkbox :value="1">其他</a-checkbox>
      </a-radio-group>
    </a-form-item>
    <a-form-item
      label="上传图片（最多10张）"
      :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
      :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
    >
      <a-upload
        name="investment_direction String"
        list-type="picture-card"
        class="avatar-uploader"
        :show-upload-list="false"
        action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        :before-upload="beforeUpload"
        @change="handleChange"
      >
        <img v-if="imageUrl" :src="imageUrl" alt="avatar" />
        <div v-else>
          <a-icon :type="loading ? 'loading' : 'plus'" />
          <div class="ant-upload-text"></div>
        </div>
      </a-upload>
    </a-form-item>
    <a-form-item
      label="园区简介"
      :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
      :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
    >
      <a-textarea
        rows="4"
        placeholder="请输入"
        v-decorator="['description', { rules: [{ required: true, message: '请输入内容' }] }]"
      />
    </a-form-item>
    <a-form-item
      :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
      :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
      :required="false"
      class="form-lable-none"
    >
      <span slot="label"></span>
      <a-button @click="gotoBack" type="">返回</a-button>
      <a-button htmlType="submit" type="primary" style="margin-left: 10px">下一步</a-button>
    </a-form-item>
  </a-form>
</template>

<script>
export default {
  name: 'ParkModific',
  props: {
    // stepData: {
    //   type: Object
    // }
  },
  components: {},
  data () {
    return {
      form: this.$form.createForm(this),
      // 入园评审:0否;1是
      assessment: [
        {
          label: '需要',
          value: '1'
        },
        {
          label: '不需要',
          value: '0'
        }
      ]
    }
  },
  created () {
    var item = this.stepData
    console.log('item:::', item)
    if (item) {
      setTimeout(() => {
        this.form.setFieldsValue({
          park_name: item.park_name,
          area: item.area,
          assessment: String(item.assessment),
          principal_name: item.principal_name,
          average_price: item.average_price,
          // 'investment_direction': key,
          description: item.description,
          province_id: item.province_id,
          city_id: item.city_id,
          county_id: item.county_id
        })
      }, 100)
      console.log('item.park_images::', item.park_images)
    }
  },
  methods: {
    // 第一步提交
    stepSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        console.log('values::', values, err)
        if (!err) {
          values.provider_id = 1
          values.provider_name = '服务商名称'
          values.principal_user_account = '1332323'
          this.$emit('stepChange', 0, values)
        }
      })
    },
    // 选择回调
    selectPrincipalCall (item) {
      this.form.setFieldsValue({
        principal_name: item.name
      })
      this.principal_user_account = item.account
    },
    // 返回
    gotoBack () {
      this.$router.push('/space/park/list')
    },
    // 招商方向回调
    onChange () {}
  }
}
</script>
<style lang="less">
.park-steps {
  width: 1024px;
  margin: 10px auto 30px;
}
</style>
