<template>
  <page-header-wrapper>
    <a-card :bordered="false">
      <a-descriptions title="房源信息">
        <a-descriptions-item label="房源编号">{{ detail.housing_resources_number }}</a-descriptions-item>
        <a-descriptions-item label="所属园区">{{ detail.park_name }}</a-descriptions-item>
        <a-descriptions-item label="所属楼栋">{{ detail.building_name }}</a-descriptions-item>
        <a-descriptions-item label="楼层编号">{{ detail.floor_id }}</a-descriptions-item>
        <a-descriptions-item label="价格">{{ detail.unit_price }}{{ detail.price_unit }}</a-descriptions-item>
        <a-descriptions-item label="租赁状态">
          <span v-if="detail.rental_status == 0">未出租</span>
          <span v-if="detail.rental_status == 1">已出租</span>
          <span v-if="detail.rental_status== 2">已下定</span>
        </a-descriptions-item>
        <a-descriptions-item label="建筑面积">{{ detail.floorage }}</a-descriptions-item>
        <a-descriptions-item label="使用面积">{{ detail.usablearea }}</a-descriptions-item>
        <a-descriptions-item label="是否可注册">
          <span v-if="detail.registrable== 0">不可注册</span>
          <span v-if="detail.registrable == 1">可注册</span>
        </a-descriptions-item>
        <a-descriptions-item label="是否可分割出租">
          <span v-if="detail.divisible_lease== 0">不可分割出租</span>
          <span v-if="detail.divisible_lease == 1">可分割出租</span>
        </a-descriptions-item>
        <a-descriptions-item label="层高">{{ detail.storey_height }}</a-descriptions-item>
        <a-descriptions-item label="承重">{{ detail.bearing_weight }}</a-descriptions-item>
        <a-descriptions-item label="适用用途">
          <span v-if="detail.suit == 1">商务办公</span>
          <span v-if="detail.suit == 2">研发</span>
          <span v-if="detail.suit== 3">生产加工</span>
          <span v-if="detail.suit== 4">商业配套</span>
          <span v-if="detail.suit== 5">物业配套</span>
        </a-descriptions-item>
        <a-descriptions-item label="装修情况">
          <span v-if="detail.renovation_situation == 1">精装</span>
          <span v-if="detail.renovation_situation == 2">简装</span>
          <span v-if="detail.renovation_situation == 3">毛坯</span>
          <span v-if="detail.renovation_situation == 4">遗留装修</span>
          <span v-if="detail.renovation_situation == 5">专业空间装修</span>
          <span v-if="detail.renovation_situation == 6">其他</span>
        </a-descriptions-item>
        <a-descriptions-item label="独立上下水">
          <span v-if="detail.independent_plumbing== 0">不是独立上下水</span>
          <span v-if="detail.independent_plumbinge == 1">是独立上下水</span>
        </a-descriptions-item>
        <a-descriptions-item label="朝向">
          <span v-if="detail.direction == 1">东</span>
          <span v-if="detail.direction == 2">南</span>
          <span v-if="detail.direction == 3">西</span>
          <span v-if="detail.direction == 4">北</span>
          <span v-if="detail.direction == 5">通透</span>
        </a-descriptions-item>
        <a-descriptions-item label="房源类型">
        </a-descriptions-item>
        <a-descriptions-item label="房间类型">
          <span v-if="detail.room_type == 1">整层</span>
          <span v-if="detail.room_type == 2">独立半层</span>
          <span v-if="detail.room_type == 3">独栋</span>
          <span v-if="detail.room_type == 4">普通单间</span>
        </a-descriptions-item>
        <a-descriptions-item label="展示状态">
          <span v-if="detail.status == -1">已删除</span>
          <span v-if="detail.status == 1">已下线</span>
          <span v-if="detail.status == 2">已上线</span>
        </a-descriptions-item>
      </a-descriptions>
      <!-- 图片列表 -->
      <a-descriptions title="图片">
        <a-descriptions-item>
          <img class="detail-img-list" :src="item" v-for="(item, index) in imagesList" :key="index" />
        </a-descriptions-item>
      </a-descriptions>
      <div class="back">
        <a-button @click="gotoBack">返回</a-button>
      </div>
    </a-card>
  </page-header-wrapper>
</template>

<script>
import { detailSpaceRoom } from '@/api/room'
export default {
  components: {
  },
  data () {
    return {
      items: [],
      // 详情内容
      detail: {},
      // 图片列表
      imagesList: [],
      // 加载中
      loading: false,
      pagination: {
        pageSizeOptions: ['10', '20', '30', '40', '100'],
        defaultCurrent: 1,
        defaultPageSize: 2,
        total: 10,
        showSizeChanger: true,
        showTotal: (total, range) => `共 ${total} 条记录`
      }
    }
  },
   created () {
    var _id = this.$route.query.id
    if (_id) {
      this.getDetail(_id)
    }
  },
  methods: {
    // 详情查询
    getDetail (_id) {
      detailSpaceRoom({
        id: _id
      }).then(res => {
        this.detail = res.data
        if (res.data.room_images && res.data.room_images.length > 0) {
          var arr = res.data.room_images.split(',')
          this.imagesList = arr
        } else {
          this.imagesList = []
        }
      })
    },
         // 返回
    gotoBack () {
       this.$router.push('/space/room/list')
    }
  },
  filters: {
    statusFilter (status) {
      const statusMap = {
        'processing': '进行中',
        'success': '完成',
        'failed': '失败'
      }
      return statusMap[status]
    }
  },
  computed: {
    title () {
      return this.$route.meta.title
    }
  }

}
</script>

<style lang="less" scoped>
  .title {
    color: rgba(0,0,0,.85);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 40px;
  }
  .back{
    margin-left: 30px;
    margin-top: 40px;
  }
</style>
