<template>
  <page-header-wrapper>
    <div class="table-page-search-wrapper">
      <a-form layout="inline">
        <a-row :gutter="48">
          <a-col :md="6" :sm="24">
            <a-form-item label="园区名称">
              <a-input v-model="park_name" placeholder="园区名称" />
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="24">
            <a-form-item label="楼栋名称">
              <a-input v-model="building_name" placeholder="楼栋名称" />
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="24">
            <a-form-item label="楼层编号">
              <a-input v-model="floor_name" placeholder="楼层编号" />
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="24">
            <a-form-item label="房源编号">
              <a-input v-model="housing_resources_number" placeholder="房源编号" />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row :gutter="48">
          <a-col :md="6" :sm="24">
            <a-form-item label="负责人姓名">
              <a-input v-model="principal_name" placeholder="请输入" />
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="24">
            <a-form-item label="是否可注册">
              <a-select v-model="registrable" placeholder="请选择" default-value="">
                <a-select-option value="">全部</a-select-option>
                <a-select-option value="0">不可注册</a-select-option>
                <a-select-option value="1">可注册</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="24">
            <a-form-item label="租赁状态">
              <a-select v-model="rental_status" placeholder="请选择" default-value="">
                <a-select-option value="">全部</a-select-option>
                <a-select-option value="0">未出租</a-select-option>
                <a-select-option value="1">已出租</a-select-option>
                <a-select-option value="2">已下定</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :md="6" :sm="24">
            <span class="table-page-search-submitButtons">
              <a-button type="primary" @click="getList()">搜索</a-button>
              <a-button style="margin-left: 8px" @click="resetSearchForm()">重置</a-button>
            </span>
          </a-col>
        </a-row>
      </a-form>
    </div>
    <div class="table-page-search-table">
      <div class="table-operator">
        <a-button type="primary" icon="plus" @click="handleAdd()">新增房源</a-button>
      </div>
      <a-table rowKey="id" :loading="loading" :columns="columns" :data-source="listData" :pagination="pagination">
        <span slot="serial" slot-scope="text, record, index">
          {{ index + 1 }}
        </span>
        <!-- <span slot="registrable" slot-scope="text">
          <span v-if="text == 0">不可注册</span>
          <span v-if="text == 1">可注册</span>
        </span>
        <span slot="rental_status" slot-scope="text">
          <span v-if="text == 0">未出租</span>
          <span v-if="text == 1">已出租</span>
          <span v-if="text == 2">已下定</span>
        </span>
        <span slot="status" slot-scope="text">
          <span v-if="text == -1">已删除</span>
          <span v-if="text == 1">已下线</span>
          <span v-if="text == 2">已上线</span>
        </span> -->
        <span slot="action" slot-scope="text, record">
          <template>
            <a @click="handleDetail(record)">查看</a>
            <a-divider type="vertical" />
            <a @click="handleEdit(record)">修改</a>
            <a-divider type="vertical" />
            <a @click="handleDelete(record)">删除</a>
          </template>
        </span>
      </a-table>
    </div>
  </page-header-wrapper>
</template>

<script>
import { getSpaceRoomList, deleteSpaceRoom } from '@/api/room'
export default {
  name: 'TableList',
  components: {
  },
  data () {
    return {
      // 加载中
      loading: false,
      // 查询参数
      park_name: '',
      building_name: '',
      floor_name: '',
      housing_resources_number: '',
      principal_name: '',
      registrable: '',
      rental_status: '',
      pagination: {
        pageSizeOptions: ['10', '20', '30', '40', '100'],
        defaultCurrent: 1,
        defaultPageSize: 10,
        total: 10,
        showSizeChanger: true,
        showTotal: (total, range) => `共 ${total} 条记录`
      },
      // 表头
      columns: [
        {
          title: '所属园区',
          dataIndex: 'park_name'
        },
        {
          title: '楼栋名称',
          dataIndex: 'building_name'
        },
        {
          title: '楼层编号',
          dataIndex: 'floor_name'
        },
        {
          title: '房源编号',
          dataIndex: 'housing_resources_number'
        },
        {
          title: '建筑面积(m²)',
          dataIndex: 'floorage'
        },
        {
          title: '使用面积(m²)',
          dataIndex: 'usablearea'
        },
        {
          title: '是否可注册',
          dataIndex: 'registrable'
        },
        {
          title: '展示状态',
          dataIndex: 'status'
          // scopedSlots: { customRender: 'status' }
        },
        {
          title: '租赁状态',
          dataIndex: 'rental_status'
          // scopedSlots: { customRender: 'rental_status' }
        },
        {
          title: '操作',
          dataIndex: 'action',
          width: '150px',
          scopedSlots: { customRender: 'action' }
        }
      ],
      listData: []
    }
  },
  created () {
    this.getList()
    this.roomInstruct()
    // 1.typeof返回数据类型
    this.typeReturn()
    // 2.slice()：提取字符串片段，并在新的字符串中返回被提取的部分
    this.stringExtract()
    // 3.split()：把字符分割成数组
    this.charactersplitArray()
    // 4.toLocaleLowerCase()：把字符串转换成小写
    this.stringToLowercase()
    // 5.charAt()：返回在指定位置的字符
    this.returnCharacter()
    // 6.charCodeAt()：返回咋指定位置的字符的Unicode编码
    this.returnCode()
    // 7.indexOf()： 检索字符串，返回的是字符在字符串的下标
    this.retrieveString()
    // 8.match()：在字符串内检索指定的值或找到一个或多个正则表达式的匹配，返回的是值而不是值的位置。
    this.searchValue()
    // 9.replace()：替换匹配的字符串
    this.replaceString()
    // 10.search()：检索与字符串匹配的子串，返回的是地址
    this.indexStringSubstring()
    // 11.toLocaleUpperCase()：把字符串准换成大写
    this.convertStringToUpperCase()
    // 12.slice[start,end]：返回从原数组中指定开始下表到结束下表之间的项组成的新数组（原数组不变）
    this.returnsNewArray()
    // 13.splice()：删除，2个参数，起始位置，删除的项数
    this.deleteParameters()
    // 14.pop()：删除数组的最后一个元素，减少数组的长度，返回被删除的值
    this.deleteLastItemOfArray()
    // 15.push()：将参数添加到数组的最后，返回新数组的长度
    this.addParameters()
    // 16.shift()：删除数组的第一个参数，数组的长度减1，无参
    this.deleteTheFirstParameter()
    // 17.unshift()：像数组的开头添加一个或更多的元素，并返回新的长度。（参数不限）
    this.addTheFirstParameterAtTheBeginning()
    // 18.sort():按指定的参数对数组进行排序，返回的值是经过排序后的数组（无参，函数）
    this.sortParameters()
    // 19.concat(3,4)：把两个字符串连接起来，返回的值是一个副本（参数不限）
    this.joinArray()
    // 20.join()：将数组的元素组成一个字符串，以separator（分割器）
    this.stringArrayElements()
    // 21.indexOf():从数组的开头向后查找，接受两个参数，要查找的项和查找起点的位置索引
    this.findParameters()
    // 22.foeEach():对数组的每个元素执行一次提供的函数
    this.arrayProviderFunction()
    // 23.对数组的每一项运行给定的函数，返回没戏函数调用的结果组成的数组
    this.functionCallRunArray()
    // 24.for in方法：遍历数组
    this.traversingArrays()
    // 25.冒泡排序
    this.bubbleSort()
    // 26.for遍历
    this.forTraversal()
    // 27.利用includes
    this.usingIncludes()
    // 28.利用for嵌套for，然后splice去重（ES5中最常用）
    this.forNestedFor()
    // 29.利用indexOf去重
    this.indexofDeDuplication()
    // 30.利用对象的属性不能相同的特点进行去重
    this.objectDeDuplication()
    // 31.sort：排序。return排序后的数组
    this.sortArray()
    // 32.some:对数组的每一项运行指定的函数，如果该函数的任意一项返回true,最终结果返回true（查询数组中是否存在某一个符合条件的项）
    this.someArray()
    // 33.构造函数方法：Array.from()将伪数组或可遍历对象转换为真正的数组
    this.arrayFrom()
    // 34.filter()：“过滤”功能，数组中的每一项运行给定函数，返回满足过滤条件组成的数组。
    this.funcConditionArray()
    // 35.Object.assign()方法将所有可枚举的 自身属性从一个或多个 源对象复制到目标对象。它返回目标对象。
    this.objectAssign()
    // 36.Object.create（该Object.create()方法使用现有对象作为新创建的对象的原型来创建新对象。
    this.objectCreate()
    // 37.Object.defineProperties（）该Object.defineProperties()方法直接在对象上定义新属性或修改现有属性，并返回该对象。
    this.objectDefineProperties()
    // 38.Object.entries()方法返回给定对象自己的可枚举字符串键属性 对的数组，其顺序与循环提供的顺序相同。（唯一重要的区别是循环也枚举了原型链中的属性）。 [key, value]for...infor...in
    this.objectEntries()
    // 39.Object.is()确定两个值是否相同。如果下列条件之一成立，则两个值相同：
    this.objectIs()
    // 40.Object.keys 返回一个所有元素为字符串的数组，元素其来自于从给定的object上面柯林斯直接枚举的属性。这些属性的顺序与手动遍历该对象属性时的一致。
    this.objectKeys()
    // 41.JS 对象属性访问
    this.mostCharacters()
    // 42.优化Math对象的方法
    this.optimizeMath()
    // 43.日期时间函数（需要用变量调用）
    this.dateTimeFunction()
    // 44.FileReader读区blob文件
    this.readAreaBlob()
    // 45.length JavaScript中Array的length属性非常有特点一一它不是只读的。因此，通过设置这个属性可以从数组的末尾移除项或添加新项
    this.lengthArray()
    // 46.函数调用方法
    this.functionCall()
    // 47.call()的第一个参数会传递给this，call()还可以有其他参数，其他的实参，都会传递给函数对象的形参
    this.callMethod()
    // 48.delete()作用；删除数组中数组的值，数据是真实存在了，使用delete删除数据；不会改变数组的长度
    this.deleteArray()
    // 49.find() 方法返回数组中满足提供的测试函数的第一个元素的值。否则返回 undefined。
    this.findArray()
    // 50.函数作用域
    this.functionScope()
    // 51.实现继承
    this.realizeInheritance()
    // 52.改造系统方法的调用方式
    this.transformationCall()
    // 53.多继承
    this.functionMultipleInheritance()
    // 54.JS字符串与二进制的相互转化
    this.reciprocalTransformation()
    // 55.在实际开发中，我们有时需要知道对象的所有属性，原生js给我们提供了一个很好的方法：Object.keys()，该方法返回一个数组,传入对象，返回属性名
    this.objectKeys()
    // 56.看下面的代码，我们生成一个长度为 10 的数组['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']，使用上面的方法将数组乱序，执行多次后，会发现每个元素仍然有很大机率在它原来的位置附近出现。
    this.arrayRandomSort()
    // 57.hasOwnProperty方法接收一个字符串参数，该参数表示属性名称，用来判断该属性是否在当前对象实例中，而不是在对象的原型链中。
    this.hasOwnPropertyPropertyName()
    // 58.遍历数组，调用回调函数，将数组元素组合成一个值，reduce从索引最小值开始，reduceRight反向，方法有两个参数
    this.callCallback()
    // 59.闭包的好处：能够实现封装和缓存。使用闭包主要是为了封装对象的私有属性和私有方法，闭包可以避免全局变量的污染。闭包的缺点：闭包会常驻内存，会增大内存使用量，使用不当很容易造成内存泄漏。
    this.closureFunction()
    // 60.在 JavaScript 中，每个函数对象都有prototype属性，用于引用原型对象。prototype对象又有隐藏属性constructor，它反过来引用函数本身，是一种循环引用。
    this.prototypeConstructor()
    // 61.面向对象程序
    this.objectOriented()
    // 62.JavaScript 中，万物皆对象！但对象也是有区别的，分为普通对象和函数对象，Object 、Function 是 JS 自带的函数对象。
    this.ordinaryFunction()
    // 63.枚举（遍历）
    this.objectTraversal()
    // 64.直接变量赋值函数可以当成变量来传递
    this.variablePassing()
    // 65.数组封装通过数组的一些基本方法，我们可以开始自己模拟一下java中的ArrayList了
    this.arrayEncapsulation()
    // 66.函数作用域
    this.functionScope()
    // 67.函数表达式也可以提供函数名，并且可以用于在函数内部代指其本身
    this.provideFunctionName()
    // 68.多层嵌套函数,B和C都形成了闭包，所以B可以访问A，C可以访问B和A；闭包可以包含多个作用域；他们递归式的包含了所有包含它的函数作用域。这个称之为作用域链
    this.multilayerNesting()
    // 69.当继承的函数被调用时，this 指向的是当前继承的对象，而不是继承的函数所在的原型对象
    this.inheritanceCall()
    // 70.嵌套函数和闭包,内部函数只可以在外部函数中访问。内部函数包含外部函数的作用域,内部函数形成了一个闭包：它可以访问外部函数的参数和变量，但是外部函数却不能使用它的参数和变量。
    this.nestedFunction()
  },
  methods: {
    // 列表数据查询
    getList () {
      this.loading = true
      var option = {
        park_name: this.park_name || null,
        building_name: this.building_name || null,
        floor_name: this.floor_name || null,
        housing_resources_number: this.housing_resources_number || null,
        principal_name: this.principal_name || null,
        registrable: this.registrable || null,
        rental_status: this.rental_status || null,
        page_index: this.pagination.defaultCurrent,
        page_size: this.pagination.defaultPageSize
      }
      getSpaceRoomList(option).then(res => {
        console.log(res)
        this.loading = false
        this.listData = res.data.list
        this.pagination.total = res.data.count
      })
    },
    // 查看详情
    handleDetail (record) {
      this.$router.push({ path: '/space/room/detail', query: { id: record.id } })
    },
    // 新增
    handleAdd (record) {
      this.$router.push('/space/room/add')
    },
    // 修改
    handleEdit (record) {
      this.$router.push({ path: '/space/room/edit', query: { id: record.id } })
    },
    // 删除
    handleDelete (record) {
      var _this = this
      this.$confirm({
        title: '删除房源',
        content: '是否确认删除该房源？',
        centered: true,
        okText: '确定',
        cancelText: '取消',
        onOk () {
          deleteSpaceRoom({
            id: record.id
          }).then(() => {
            _this.$message.success('删除成功')
            _this.getList()
          })
        },
        onCancel () {
        }
      })
    },
    // 重置回调
    resetSearchForm () {
      this.room_name = ''
      this.building_name = ''
      this.floor_name = ''
      this.housing_resources_number = ''
      this.principal_name = ''
      this.registrable = ''
      this.rental_status = ''
      this.pagination.page_index = 1
      this.getList()
    },
    // 年龄*出生年
    roomInstruct () {
      var ageName = 18
      var yearofBirth = 2002
      var consult = ageName * yearofBirth
      console.log(consult)
    },
    // 1.typeof返回数据类型
    typeReturn () {
      var array = ['a', 'b', 'c']
      var demo01 = '找工作真的好难啊'
      var demo02 = 14
      console.log('demo01的数据类型：' + typeof demo01)
      console.log('demo02的数据类型：' + typeof demo02)
      console.log('array的数据类型：' + typeof array)
    },
    // 2.slice()：提取字符串片段，并在新的字符串中返回被提取的部分
    stringExtract () {
      var str1 = 'nihaoya wobuhaoya'
      var extractone = str1.slice(4, 9)
      // 4位置开始，到9的前一个位置结束
      var extracttwo = str1.slice(-1, 0)
      console.log(extractone)
      // 返回haoya wobuha
      console.log(extracttwo)
      // 返回的是空字符串
    },
    // 3.split()：把字符分割成数组
    charactersplitArray () {
      var str1 = 'nihao-zaijian-dajiahao'
      var str2 = str1.split('-')
      console.log(str2)
      console.log(str1)
      // 原字符串不变
    },
    // 4.toLocaleLowerCase()：把字符串转换成小写
    stringToLowercase () {
      var str = 'NIHAOME WOHENHAOnizaiganmane'
      var str1 = str.toLocaleLowerCase()
      console.log(str1)
      // 原字符串不变
    },
    // 5.charAt()：返回在指定位置的字符
    returnCharacter () {
      var str = 'nihaome wozhendexiangxeuhaoqianduan'
      var str2 = str.charAt(4)
      // 字符串的下标是从1开始的,所以返回o
      var str3 = str.charAt(25)
      // 25位置是a;
      var str4 = str.charAt(5, 26)
      // 传入两个参数，不会报错，但是第二个参数默认无效，
      // 所以返回的是位置5的字符m
      console.log(str2)
      console.log(str3)
      console.log(str4)
    },
    // 6.charCodeAt()：返回咋指定位置的字符的Unicode编码
    returnCode () {
      var str = 'llinihao mezaigama'
      var str2 = str.charCodeAt(5)
      // 位置5的字符是h，h的Unicode编码是104
      var str3 = str.charCodeAt(3)
      console.log(str3)
      // 110
      console.log(str2)
    },
    // 7.indexOf()： 检索字符串，返回的是字符在字符串的下标
    retrieveString () {
      var str1 = 'lixiaoqi'
      var num1 = str1.indexOf('o')
      // 检索字符串，返回的是字符在字符串的下标
      // 字符串的下标是从0开始计数
      var num2 = str1.indexOf('lllll')
      // 没有找到匹配的值，返回-1
      var num3 = str1.indexOf('ni')
      // 没有找到匹配的值，返回-1
      console.log(num1)
      console.log(num2)
      console.log(num3)
    },
    // 8.match()：在字符串内检索指定的值或找到一个或多个正则表达式的匹配，返回的是值而不是值的位置。
    searchValue () {
      var str1 = 'lixiaoqi'
      var str2 = str1.match('iao')
      // 检索字符串，返回的是字符
      var str3 = str1.match('lll')
      // 没有指定的字符，返回的是null
      console.log(str2)
      console.log(str3)
    },
    // 9.replace()：替换匹配的字符串
    replaceString () {
      var str1 = 'nihaome'
      var str2 = 'lixiaoqi'
      var str3 = str1.replace(str1.match('hao'), str2.match('lixi'))
      // 找到str1的hao，找到str2的lixi，用str2替换掉str1
      console.log(str3)
    },
    // 10.search()：检索与字符串匹配的子串，返回的是地址
    indexStringSubstring () {
      var str1 = 'lixiaoqi nihaoya zaiganma'
      var str2 = 'nihaoya'
      var str3 = 'wobuzai'
      var num1 = str1.search(str2)
      // 返回的是第一个字符所在的位置
      var num2 = str1.search(str3)
      // 未检测到返回-1
      console.log(num1)
      console.log(num2)
    },
    // 11.toLocaleUpperCase()：把字符串准换成大写
    convertStringToUpperCase () {
      var str = 'deawwWWEzaiganmane'
      console.log(str.toLocaleUpperCase())
      var str1 = str.toLocaleUpperCase()
      console.log('-----------')
      console.log(str1)
      console.log(str)
      // 原字符串不变
    },
    // 12.slice[start,end]：返回从原数组中指定开始下表到结束下表之间的项组成的新数组（原数组不变）
    returnsNewArray () {
      var arr = [1, 2, 3, 4, 5, 6, 7, 8]
      var arr1 = arr.slice(2, 6)
      console.log(arr1)
      // 数组下表从0开始，从2开始，到6的前一个位置结束
      var arr3 = arr.slice(4)
      // 从4开始到结束
      console.log(arr3)
    },
    // 13.splice()：删除，2个参数，起始位置，删除的项数
    deleteParameters () {
      var arr = [1, 2, 3, 4, 5]
      var arr1 = arr.slice(2, 3)
      // 实际得到的新数组的项数是end-strat；
      console.log(arr1)
      var arr2 = arr.slice(1, 5)
      console.log(arr2)
      console.log(arr)
    },
    // 14.pop()：删除数组的最后一个元素，减少数组的长度，返回被删除的值
    deleteLastItemOfArray () {
      var arr = [1, 2, 3, 4, 5]
      console.log(arr.length)
      console.log('-----------')
      var arr1 = arr.pop()
      console.log(arr1)
      // 5
      console.log(arr.length)
    },
    // 15.push()：将参数添加到数组的最后，返回新数组的长度
    addParameters () {
      var arr = [1, 2, 3, 4, 5]
      console.log(arr.length)
      console.log('-----------')
      var num = arr.push(6, 7, 8)
      console.log(num)
      // 返回的是新数组的长度
      console.log(arr)
      // 原数组被改变成新数组
    },
    // 16.shift()：删除数组的第一个参数，数组的长度减1，无参
    deleteTheFirstParameter () {
      var arr = [1, 2, 3, 4, 5]
      console.log(arr.length)
      console.log('-----------')
      var arr1 = arr.shift()
      console.log(arr1)
      // 返回的是删除的数组的值
      console.log(arr)
      // 原数组被改变成新数组
    },
    // 17.unshift()：像数组的开头添加一个或更多的元素，并返回新的长度。（参数不限）
    addTheFirstParameterAtTheBeginning () {
      var arr = [1, 2, 3, 4, 5]
      console.log(arr.length)
      console.log('-----------')
      var arr1 = arr.unshift(2, 4, 5, { name: 'liqi' })
      console.log(arr1)
      // 返回的是新数组的长度
      console.log('------------')
      console.log(arr)
      // 原数组被改变成新数组
    },
    // 18.sort():按指定的参数对数组进行排序，返回的值是经过排序后的数组（无参，函数）
    sortParameters () {
      var arr = [1, 'q', 3, 6, 2, 'a', 9]
      console.log(arr)
      // 原数组
      var arr1 = arr.sort()
      console.log(arr1)
      // 返回的是排序后的数组
      console.log('-------------------')
      console.log(arr)
      // 原数组变成新数组
    },
    // 19.concat(3,4)：把两个字符串连接起来，返回的值是一个副本（参数不限）
    joinArray () {
       var arr1 = [1, 'q', 3, 6, 2, 'a', 9]
       var arr2 = [{ name: 'niho' }, 1, 4]
       console.log(arr1.concat(3, arr1))
       // 新创建一个数组，原数组不变
       console.log(arr1)
       console.log(arr2)
       // 原数组不变
    },
    // 20.join()：将数组的元素组成一个字符串，以separator（分割器）
    stringArrayElements () {
      var arr1 = [1, 'q', 3, 6, 2, 'a', 9]
      var arr2 = arr1.join(',')
      // 以逗号分隔
      var arr3 = arr1.join('')
      // 以空格分隔
      console.log(arr1)
      // 原数组不变
      console.log(arr2)
      console.log(arr3)
    },
    // 21.indexOf():从数组的开头向后查找，接受两个参数，要查找的项和查找起点的位置索引
    findParameters () {
      var arr = [1, 2, 3, 4, 5, 6, 78]
      var num = arr.indexOf(78, 3)
      // 查找78所在的位置
      console.log(num)
      // 返回的项的索引
      var num1 = arr.indexOf(3, 1)
      console.log(num1)
      var num2 = arr.indexOf(2)
      console.log(num2)
      console.log(arr)
    },
    // 22.foeEach():对数组的每个元素执行一次提供的函数。
    arrayProviderFunction () {
      var array1 = ['a', 'b', 'c']
      array1.forEach(function (element) {
        console.log(element)
        })
    },
    // 23.对数组的每一项运行给定的函数，返回没戏函数调用的结果组成的数组
    functionCallRunArray () {
      var array1 = [1, 4, 9, 16]
      const map1 = array1.map(x => x * 2)
      // 对数组的每项*2
      console.log(map1)
    },
    // 24.for in方法：遍历数组
    traversingArrays () {
      var arr = [1, 4, 9, 16]
      for (var i = 0; i < arr.length; i++) {
        console.log(arr[i])
        }
    },
    // 25.冒泡排序
    bubbleSort () {
      function bubbleSort (myArray) {
    if (myArray.length === 0) return []
    for (var i = 0; i < myArray.length; i++) {
        for (var j = i + 1; j < myArray.length; j++) {
            var myArrayI = myArray[i]
            var myArrayJ = myArray[j]
            if (myArrayI > myArrayJ) {
                myArray[i] = myArrayJ
                myArray[j] = myArrayI
            }
        }
    }
    return myArray
}
      var arr = [52, 1, 2, 7, 3, 2, 5, 78, 485, 33, 2]
      console.log(bubbleSort(arr))
    },
    // 26.for遍历
    forTraversal () {
      var arr = [1, 2, 9, null]
      for (var i = 0; i < arr.length; i++) {
        if (arr[i] === 2) {
          // 当arr[i]为2的时候停止循环输出
          break
        }
        console.log(arr[i])
      }
    },
    // 27.利用includes
    usingIncludes () {
      function unique (arr) {
        if (!Array.isArray(arr)) {
          console.log('type error!')
          return
          }
          var array = []
          for (var i = 0; i < arr.length; i++) {
            if (!array.includes(arr[i])) {
            // includes 检测数组是否有某个值
            array.push(arr[i])
            }
            }
            return array
            }
            var arr = [1, 1, 'true', 'true', true, true, 15, 15, false, false, undefined, undefined, null, null, NaN, NaN, 'NaN', 0, 0, 'a', 'a', {}, {}]
            console.log(unique(arr))
            // [1, "true", true, 15, false, undefined, null, NaN, "NaN", 0, "a", {…}, {…}]
            // {}没有去重
    },
    // 28.利用for嵌套for，然后splice去重（ES5中最常用）
    forNestedFor () {
      // 双层 for 循环
      function unique (arr) {
        let len = arr.length
        // 双层循环，外层循环元素，内层循环时比较值。值相同时，则删去这个值。
        for (let i = 0; i < len; i++) {
          for (let j = i + 1; j < len; j++) {
            if (arr[i] === arr[j]) {
              arr.splice(j, 1)
              // splice 会改变数组长度，所以要将数组长度 len 和下标 j 减一
              len--
              j--
              }
              }
              }
              return arr
              }
              var arr = [1, 1, 'true', 'true', true, true, 15, 15, false, false, undefined, undefined, null, null, NaN, NaN, 'NaN', 0, 0, 'a', 'a', {}, {}]
              console.log(unique(arr))
              // [1, "true", 15, false, undefined, NaN, NaN, "NaN", "a", Object {  }, Object {  }]
              // NaN和{}没有去重，两个null直接消失了
    },
    // 29.利用indexOf去重
    indexofDeDuplication () {
      function unique (arr) {
        if (!Array.isArray(arr)) {
          console.log('type error!')
          return
          }
          var array = []
          for (var i = 0; i < arr.length; i++) {
            if (array.indexOf(arr[i]) === -1) {
              array.push(arr[i])
              }
              }
              return array
              }
              var arr = [1, 1, 'true', 'true', true, true, 15, 15, false, false, undefined, undefined, null, null, NaN, NaN, 'NaN', 0, 0, 'a', 'a', {}, {}]
              console.log(unique(arr))
              // [1, "true", true, 15, false, undefined, null, NaN, NaN, "NaN", 0, "a", {…}, {…}]
              // NaN、{}没有去重
    },
    // 30.利用对象的属性不能相同的特点进行去重
    objectDeDuplication () {
      function unique (arr) {
        if (!Array.isArray(arr)) {
          console.log('type error!')
          return
          }
          var arrry = []
          var obj = {}
          for (var i = 0; i < arr.length; i++) {
            if (!obj[arr[i]]) {
              arrry.push(arr[i])
              obj[arr[i]] = 1
              } else {
                obj[arr[i]]++
                }
                }
                return arrry
                }
                var arr = [1, 1, 'true', 'true', true, true, 5, 15, false, false, undefined, undefined, null, null, NaN, NaN, 'NaN', 0, 0, 'a', 'a', {}, {}]
                console.log(unique(arr))
                // [1, "true", 5,  15, false, undefined, null, NaN, 0, "a",  {...}]
                // 两个true直接去掉了，NaN和{}去重
    },
    // 31.sort：排序。return排序后的数组
    sortArray () {
      var test = [23, 3, 45, 65, 34]
      function compare (a, b) {
        return a < b ? -1 : ((a > b) ? 1 : 0)
        }
        function compare2 (a, b) {
          return a < b ? 1 : ((a > b) ? -1 : 0)
          }
          var num1 = test.sort(compare)
          console.log(num1)
          // [3, 23, 34, 45, 65]升序
          var num2 = test.sort(compare2)
          console.log(num2)
          // [65, 45, 34, 23, 3]降序
    },
    // 32.some:对数组的每一项运行指定的函数，如果该函数的任意一项返回true,最终结果返回true（查询数组中是否存在某一个符合条件的项）
    someArray () {
      var testarray = [21, 0, 5, 6, 34]
      // item:当前值
      // index:当前索引
      // array：当前的数组
      var result1 = testarray.every(function (item, index, array) {
        return (item > 6)
        })// result1: false
        console.log(result1)
        var result2 = testarray.some(function (item, index, array) {
          return (item > 6)
          })// result2: true
          console.log(result2)
          var result3 = testarray.filter(function (item, index, array) {
            return (item > 6)
            })// result3:[21, 34]
            console.log(result3)
            var result4 = testarray.map(function (item, index, array) {
              return (item * 2)
              })// result4: [42, 0, 10, 12, 68]
              console.log(result4)
    },
    // 33.构造函数方法：Array.from()将伪数组或可遍历对象转换为真正的数组
    arrayFrom () {
      // 定义一个集合
      var arrayLike = {
        '0': 'a',
        '1': 'b',
        '2': 'c',
        length: 3
        }
        // 转成数组
        var arr2 = Array.from(arrayLike)
        // ['a', 'b', 'c']
        console.log(arr2)
    },
    // 34.filter()返回一个符合func条件的元素数组
    funcConditionArray () {
      var arr = [1, 3, 5, 8, null, 'qwd', '1']
      var value = arr.filter(function (x) {
        return x <= 5
        })
        console.log(value)
    },
    // 35.Object.assign()方法将所有可枚举的 自身属性从一个或多个 源对象复制到目标对象。它返回目标对象。
    objectAssign () {
      const target = { a: 1, b: 2 }
      const source = { b: 4, c: 5 }
      const returnedTarget = Object.assign(target, source)
      console.log(target)
      // expected output: Object { a: 1, b: 4, c: 5 }
      console.log(returnedTarget)
      // expected output: Object { a: 1, b: 4, c: 5 }
    },
    // 36.Object.create（该Object.create()方法使用现有对象作为新创建的对象的原型来创建新对象。
    objectCreate () {
      const person = {
        isHuman: false,
        printIntroduction: function () {
          console.log(`My name is ${this.name}. Am I human? ${this.isHuman}`)
          }
          }
          const me = Object.create(person)
          me.name = 'Matthew'
          // "name" is a property set on "me", but not on "person"
          // “name”是设置在“me”上的属性，而不是设置在“person”上的属性
          me.isHuman = true
          // inherited properties can be overwritten
          // 继承的属性可以被覆盖
          me.printIntroduction()
          // expected output(预期输出): "My name is Matthew. Am I human? true"
    },
    // 37.Object.defineProperties（）该Object.defineProperties()方法直接在对象上定义新属性或修改现有属性，并返回该对象。
    objectDefineProperties () {
      const object1 = {}
      Object.defineProperties(object1, {
        property1: {
          value: 42,
          writable: true
          },
          property2: {}
          })
          console.log(object1.property1)
          // expected output: 42
    },
    // 38.Object.entries()方法返回给定对象自己的可枚举字符串键属性 对的数组，其顺序与循环提供的顺序相同。（唯一重要的区别是循环也枚举了原型链中的属性）。 [key, value]for...infor...in
    objectEntries () {
      const object1 = {
        a: 'somestring',
        b: 42
        }
        for (const [key, value] of Object.entries(object1)) {
          console.log(`${key}: ${value}`)
          }
          // expected output:
          // "a: somestring"
          // "b: 42"
          // order is not guaranteed
    },
    // 39.Object.is()确定两个值是否相同。如果下列条件之一成立，则两个值相同：
    objectIs () {
      var value1 = 12
      var value2 = 79
      var onjectIs = Object.is(value1, value2)
      console.log(onjectIs)
      // false
    },
    // 40.Object.keys 返回一个所有元素为字符串的数组，元素其来自于从给定的object上面柯林斯直接枚举的属性。这些属性的顺序与手动遍历该对象属性时的一致。
    objectKeys () {
      // simple array
      var arr = ['a', 'b', 'c']
      console.log(Object.keys(arr))
      // console: ['0', '1', '2']
      // array like object
      var obj = { 0: 'a', 1: 'b', 2: 'c' }
      console.log(Object.keys(obj))
      // console: ['0', '1', '2']
      // array like object with random key ordering
      var anObj = { 100: 'a', 2: 'b', 7: 'c' }
      console.log(Object.keys(anObj))
      // console: ['2', '7', '100']
      // getFoo is a property which isn't enumerable
      var myObj = Object.create({}, {
        getFoo: {
          value: function () { return this.foo }
          }
          })
          myObj.foo = 1
          console.log(Object.keys(myObj))
          // console: ['foo']
    },
    // 41.JS 对象属性访问
    mostCharacters () {
      var str = 'zhaochucichuzuiduodezifu'
      var o = {}
      for (var i = 0, length = str.length; i < length; i++) {
        // var char = str[i]
        var char = str.charAt(i)
        if (o[char]) {
          // char就是对象o的一个属性，o[char]是属性值，o[char]控制出现的次数
          o[char]++
          // 次数加1
          } else {
            o[char] = 1
            // 若第一次出现，次数记为1
        }
    }
    console.log(o)
    // 输出的是完整的对象，记录着每一个字符及其出现的次数
    // 遍历对象，找到出现次数最多的字符和次数
    var max = 0
    var maxChar = null
    for (var key in o) {
        if (max < o[key]) {
            max = o[key]
            // max始终储存次数最大的那个
            maxChar = key
            // 那么对应的字符就是当前的key
        }
    }
    console.log('最多的字符是' + maxChar)
    console.log('出现的次数是' + max)
    },
    // 42.优化Math对象的方法
    optimizeMath () {
      var arr = [4, 6, 2, 7, 1]
      console.log(Math.min(arr))
      // NaN
      console.log(Math.max(arr))
      // NaN
      console.log(Math.min.apply(null, arr))
      // 1
      console.log(Math.max.apply(null, arr))
      // 7
    },
    // 43.日期时间函数（需要用变量调用）
    dateTimeFunction () {
      var b = new Date()
      // 获取当前时间
      console.log(b.getTime())
      // 获取时间戳
      console.log(b.getFullYear())
      // 获取年份
      console.log(b.getMonth() + 1)
      // 获取月份
      console.log(b.getDate())
      // 获取天
      console.log(b.getHours())
      // 获取小时
      console.log(b.getMinutes())
      // 获取分钟
      console.log(b.getSeconds())
      // 获取秒数
      console.log(b.getDay())
      // 获取星期几
      console.log(b.getMilliseconds())
      // 获取毫秒
      console.log(Date())
      // 获取完整日期
    },
    // 44.FileReader读区blob文件
    readAreaBlob () {
      var ab = new ArrayBuffer(32)
      var iA = new Int8Array(ab)
      iA[0] = 97
      var blob = new Blob([iA], { type: 'application/octet-binary'
      })
      var fr = new FileReader()
      fr.addEventListener('load', function (ev) {
        console.log(ev.target.result)
        // 会输出字符：a
        })
        fr.readAsText(blob)
    },
    // 45.length JavaScript中Array的length属性非常有特点一一它不是只读的。因此，通过设置这个属性可以从数组的末尾移除项或添加新项
    lengthArray () {
      var colors = ['red', 'blue', 'grey']
      // 创建一个包含3个字符串的数组
      colors.length = 2
      console.log(colors[2])
      // undefined
    },
    // 46.函数调用方法
    functionCall () {
      function Student (name, age) {
        this.name = name
        this.age = age
        }
        Student.prototype.sayHello = function () {
          console.log('Hello, My name is ' + this.name +
          '. I am ' + this.age + ' years old.')
          }
          var stu1 = new Student('小明', 20)
          var stu2 = new Student('小红', 19)
          stu1.sayHello()
          stu2.sayHello()
    },
    // 47.call()的第一个参数会传递给this，call()还可以有其他参数，其他的实参，都会传递给函数对象的形参
    callMethod () {
      var sayHello = function (name, age) {
        console.log(this)
        console.log('Hello, My name is ' + name + '. I am ' + age + ' years old.')
        }
        sayHello.call('传递给this', '小明', 20)
    },
    // 48.delete()作用；删除数组中数组的值，数据是真实存在了，使用delete删除数据；不会改变数组的长度；
    deleteArray () {
      var arr = [1, 2, 4, 5, 'rrrr', true]
      console.log(arr)
      delete (arr[5])
      console.log(arr[5])
      console.log(arr)
      // constructor 返回一个函数，该函数其实就是创建数组的函数
      var con = arr.constructor
      console.log(con)
    },
    // 49.find() 方法返回数组中满足提供的测试函数的第一个元素的值。否则返回 undefined。
    findArray () {
      const array1 = [5, 12, 8, 130, 44]
      const found = array1.find(element => element > 10)
      console.log(found)
      // expected output: 12
      var inventory = [
        { name: 'apples', quantity: 2 },
        { name: 'bananas', quantity: 0 },
        { name: 'cherries', quantity: 5 }
        ]
        function findCherries (fruit) {
          return fruit.name === 'cherries'
          }
          console.log(inventory.find(findCherries))
          // { name: 'cherries', quantity: 5 }
    },
    // 50.函数作用域
    functionScope () {
      var scope = 'global'
      console.log(scope)
      function f () {
        var scope
        // 在函数顶部声明了局部变量，即声明提前
        console.log(scope)
        // 变量存在，输出“undefined”，而不是“global”
        scope = 'local'
        // 变量在这里赋初始值
        console.log(scope)
        // 输出“local”
        }
        f()
    },
    // 51.实现继承
    realizeInheritance () {
      function Doctor (name) {
        this.name = name
        this.say = function () {
            console.log(this.name)
        }
      }
      function Stephen (name) {
        // 当前函数内的this指向函数Son的实例化对象
        // 在执行Stephen时执行Doctor，同时将Doctor内的this改变成Stephen的this
        Doctor.call(this, name)
        }
        var doctor = new Doctor('Doctor')
        doctor.say()
        // Doctor
        var stephen = new Stephen('Stephen Strange')
        // 在Stephen中并没有say方法，但是因为在new Stephen时，执行了Doctor，
        // 并将Doctor中的this指向Stephen的this，
        // 那么在new Stephen后，得到的实例，也具有了Doctor内的属性和方法
        stephen.say()
        // Stephen Strange
    },
    // 52.改造系统方法的调用方式
    transformationCall () {
      var arr = [3, 4, 5]
      Array.prototype.push.call(arr, 'hello')
      console.log(arr)
      // [3,4,5,"hello"]
      // 通过执行Function原型上的call方法的bind方法，改变call中原本应指向Function实例的this为Array.prototype.push，
      // 并保存bind的返回值--改造之后的新call函数，放在newPush
      const newPush = Function.prototype.call.bind(Array.prototype.push)
      // 此时，call方法中的this指向为Array原型上的push方法，
      // 执行newPush，相当于执行了Function.prototype.call.call(Array.prototype.push)，
      // call的第一个参数用来改变原函数this的指向，后call将前call中的this改成Array.prototype.push
      // 此时后call执行，得到改变之后的前call
      // 也就相当于得到了Array.prototype.push.call()
      // 最终执行newPush相当于执行了Array.prototype.push.call()
      newPush(arr, 'world')
      console.log(arr)
      // [3,4,5,"hello","world"]
      // 此类改造还有：
      const slice = Function.prototype.call.bind(Array.prototype.slice)
      console.log(slice(arr, 0, 2))
      // [3,4]
      const match = Function.prototype.call.bind(String.prototype.match)
      console.log(match('a1ab12abc123', /\d+/g))
      // ["1", "12", "123"]
      // 练习：使用相同方式尝试改造数组或字符的其他方法
    },
    // 53.多继承
    functionMultipleInheritance () {
      function People () {
        this.say = function () {
            console.log(`My name is ${this.name}. I will have ${this.attr} ${this.skill}.`)
        }
    }
    function Doctor () {
        this.skill = 'cure'
    }
    function Magic () {
        this.attr = 'Amazing'
    }
    function Stephen (name) {
        this.name = name
        // 执行其他函数的同时将原函数的this指向都改成Stephen的this，此时所有属性和方法可以互相访问
        People.call(this)
        Doctor.call(this)
        Magic.call(this)
    }
    var stephen = new Stephen('Stephen Strange')
    stephen.say()
    // My name is Stephen Strange. I will have Amazing cure.
    },
    // 54.JS字符串与二进制的相互转化
    reciprocalTransformation () {
      function strToBinary (str) {
        var result = []
        var list = str.split('')
        for (var i = 0; i < list.length; i++) {
          if (i !== 0) {
            result.push(' ')
            }
            var item = list[i]
            var binaryStr = item.charCodeAt().toString(2)
            result.push(binaryStr)
            }
            return result.join('')
            }
            console.log(strToBinary('我们'))// 110001000010001 100111011101100
            console.log(strToBinary('@%$+'))// 1000000 100101 100100 101011
            // 将二进制字符串转换成Unicode字符串
            function binaryToStr (str) {
              var result = []
              var list = str.split(' ')
              for (var i = 0; i < list.length; i++) {
                var item = list[i]
                var asciiCode = parseInt(item, 2)
                var charValue = String.fromCharCode(asciiCode)
                result.push(charValue)
                }
                return result.join('')
                }
                console.log(binaryToStr('110001000010001 100111011101100'))
                // 我们
                console.log(binaryToStr('1000000 100101 100100 101011'))
                // @%$+
    },
    // 55.在实际开发中，我们有时需要知道对象的所有属性，原生js给我们提供了一个很好的方法：Object.keys()，该方法返回一个数组,传入对象，返回属性名
    objectKeys () {
       var obj = { 'a': '123', 'b': '345' }
       console.log(Object.keys(obj))
       // ['a','b']
       var obj1 = { 100: 'a', 2: 'b', 7: 'c' }
       console.log(Object.keys(obj1))
       // console: ["2", "7", "100"]
       var obj2 = Object.create({}, { getFoo: { value: function () { return this.foo } } })
       obj2.foo = 1
       console.log(Object.keys(obj2))
       // console: ["foo"]
    },
    // 56.看下面的代码，我们生成一个长度为 10 的数组['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']，使用上面的方法将数组乱序，执行多次后，会发现每个元素仍然有很大机率在它原来的位置附近出现。
    arrayRandomSort () {
      var n = 10000
      var count = (new Array(10)).fill(0)
      for (var i = 0; i < n; i++) {
        var arr = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
        arr.sort(() => Math.random() - 0.5)
        count[arr.indexOf('a')]++
        }
        console.log(count)
    },
    // 57.hasOwnProperty方法接收一个字符串参数，该参数表示属性名称，用来判断该属性是否在当前对象实例中，而不是在对象的原型链中。
    hasOwnPropertyPropertyName () {
      var arr = []
      // 实例化了一个Array对象
      console.log(arr.hasOwnProperty('length'))
      // true
      console.log(arr.hasOwnProperty('hasOwnProperty'))
      // false
      // 在这个例子中，首先通过定义了一个数组对象的实例arr
      // 我们知道数组对象实际是通过原型链继承了Object对象，然后拥有自己的一些属性
      // 我们通过hasOwnProperty方法判断length是arr自己的属性
      // 而hasOwnProperty是在原型链上的属性。
    },
    // 58.遍历数组，调用回调函数，将数组元素组合成一个值，reduce从索引最小值开始，reduceRight反向，方法有两个参数
    callCallback () {
      var arr = [1, 2, 3, 4, 5, 6]
      console.log(arr.reduce(function (v1, v2) {
        return v1 + v2
        })) // 21
        // 开始是1+2 = 3，之后3+3 =6，之后6+4 =10，之后
        // 10+5 =15，最后15+6 =21
        console.log(arr.reduce(function (v1, v2) {
          return v1 - v2
          }, 100)) // 79
          // 开始的时候100-1=99，之后99-2=97，之后97-3=94，之后
          // 94-4=90，之后90-5=85，最后85-6=79
    },
    // 59.闭包的好处：能够实现封装和缓存。使用闭包主要是为了封装对象的私有属性和私有方法，闭包可以避免全局变量的污染。闭包的缺点：闭包会常驻内存，会增大内存使用量，使用不当很容易造成内存泄漏。
    closureFunction () {
      function parentFunc () {
        var arr = []
        for (var i = 0; i < 5; i++) {
          arr[i] = function () {
            return i
            }
          }
        return arr
      }
      console.log(parentFunc()[0]())
      // 5
      console.log(parentFunc()[1]())
      // 5
    },
    // 60.在 JavaScript 中，每个函数对象都有prototype属性，用于引用原型对象。prototype对象又有隐藏属性constructor，它反过来引用函数本身，是一种循环引用。
    prototypeConstructor () {
      function Animal () {
      }
      var anim = new Animal()
      console.log(anim.constructor === Animal)
      // anim由Animal构造出来，->true
      console.log(Animal === Animal.prototype.constructor)
      // prototype对象的隐藏属性constructor反过来引用函数本身，->true
      /*
        * Animal = new Function()
        * 因此Animal.constructor = Function,
        * 而 Function = Function.prototype.constructor
        * Animal.constructor = Function.prototype.constructor
      */
      console.log(Animal.constructor === Function.prototype.constructor)
      // ->true
      console.log(Function.prototype.constructor === Function)
      // true
    },
    // 61.面向对象程序
    objectOriented () {
      var obj = Object()
      obj.qq = '8888888888'
      obj.name = 'mr lan'
      obj.showName = function () {
        console.log('my name =' + this.name)
      }
      obj.showQQ = function () {
        console.log('my qq =' + this.qq)
      }
      obj.showName()
      obj.showQQ()
    },
    // 62.JavaScript 中，万物皆对象！但对象也是有区别的，分为普通对象和函数对象，Object 、Function 是 JS 自带的函数对象。
    ordinaryFunction () {
      var o1 = {}
      var o2 = Object()
      var o3 = function f1 () {}
      var f2 = function () {}
      console.log(typeof Object)
      // function
      console.log(typeof Function)
      // function
      console.log(typeof f1)
      // undefine d
      console.log(typeof f2)
      // function
      console.log(typeof o1)
      // object
      console.log(typeof o2)
      // object
      console.log(typeof o3)
      // function
    },
    // 63.枚举（遍历）
    objectTraversal () {
      var obj7 = { weight: '55Kg', 'nick name': 'pig', realname: 'Rose' }
      for (var key in obj7) {
        console.log(key + '：' + obj7[key])
      }
    },
    // 64.直接变量赋值函数可以当成变量来传递
    variablePassing () {
      var add = function (x, y) {
        return x + y
      }
      var subtract = function (x, y) {
        return x - y
      }
      var operate = function (operator, operand1, operand2) {
        return operator(operand1, operand2)
      }
      console.log(operate(subtract, 10, 5))
      console.log(operate(add, 10, 5))
    },
    // 65.数组封装通过数组的一些基本方法，我们可以开始自己模拟一下java中的ArrayList了
    arrayEncapsulation () {
      // 模拟ArrayList
      function ArrayList () {
        var arr = []// 用于保存数据的数组
        var length = 0// 数组的长度，默认为0
        /**
         * 判断是否为空
         */
        this.isEmpty = function () {
        return length === 0
      }
      /**
      * 获取列表长度
      */
      this.size = function () {
        return length
      }
      /**
      * 判断对象中是否包含给定对象
      */
      this.contains = function (obj) {
        if (arr.indexOf(obj) !== -1) {
            return true
        }
        return false
      }
      /**
      * 新增
      */
      this.add = function (obj) {
        length = length + 1
        arr.push(obj)
      }
      /**
       * 删除
      * 参数1  obj ： 需要删除的元素
      * 参数2  deleteAll： 是否全部删除，否则默认删除第一个匹配项
      */
      this.remove = function (obj, deleteAll) {
        var len = arr.length
        for (var i = 0; i < len; i++) {
            if (arr[i] === obj) {
                arr.splice(i, 1)
                length = length - 1
                if (!deleteAll) {
                  break
            }
          }
        }
      }
      /**
      * 根据索引获取对应的元素
      */
      this.get = function (index) {
        if (index > length - 1) {
          return null
      }
      return arr[index]
      }
      /**
      * 获取列表数组
      */
      this.toArray = function () {
        return arr
      }
      /**
      * 获取某一个元素的角标
      * 如果只出现一次，就返回一个数字，如果大于一次，就返回数组
      */
      this.indexOf = function (obj) {
        var rstArr = []
        var count = 0
        for (var i = 0; i < length; i++) {
          if (obj === arr[i]) {
            rstArr[count++] = i
          }
        }
        if (count === 1) {
          return rstArr[0]
          }
          return rstArr
          }
          this.toString = function () {
            return arr.toString()
          }
        }
        // 测试代码
        var list = new ArrayList()
        list.add('张三')
        list.add('李四')
        list.add('王五')
        list.add('赵六')
        list.add('王五')
        console.log(list.size())
        console.log(list.toString())
        console.log(list.contains('张三'))
        list.remove('王五', true)// null,undefined,''
        console.log(list.toString())
        console.log(list.get(0))
        console.log(list.get(1))
        console.log(list.get(2))
        console.log(list.size())
        console.log(list.toArray())
        list.add('张三')
        list.add('张三')
        console.log(list.toArray())
        console.log(list.indexOf('张三'))
        console.log(list.indexOf('赵六'))
    },
    // 66.函数作用域
    functionScope () {
      console.log(aa(1)) // 1
      function aa (n) {
        return n * n
        }
        // console.log(bb) // Cannot access 'bb' before initialization
        // console.log(bb(2)); // Cannot access 'bb' before initialization
        var bb = function (n) {
          return n * n
        }
      console.log(bb(2)) // 4
    },
    // 67.函数表达式也可以提供函数名，并且可以用于在函数内部代指其本身
    provideFunctionName () {
      var cc = function fn (n) {
        return n < 2 ? 1 : n * fn(n - 1)
      }
      console.log(cc(3))
      // 6 fn(3) => 3*fn(2) => 3*2*fn(1) => 3*2*1 = 6
    },
    // 68.多层嵌套函数,B和C都形成了闭包，所以B可以访问A，C可以访问B和A；闭包可以包含多个作用域；他们递归式的包含了所有包含它的函数作用域。这个称之为作用域链
    multilayerNesting () {
      function A (a) {
              function B (b) {
                function C (c) {
                  console.log(a + b + c)// 输出6
                }
                C(3)
              }
              B(2)
            }
            A(1)
    },
    // 69.当继承的函数被调用时，this 指向的是当前继承的对象，而不是继承的函数所在的原型对象
    inheritanceCall () {
      var foo = {
              a: 2,
              fb: function () {
                return this.a + 1
              }
            }
            console.log(foo.fb())// 3
            // 当调用 foo.fb 时，'this' 指向了 foo.
            var op = Object.create(foo)// op是一个继承自 foo 的对象
            console.log(op, 'op')// {} 'op'
            op.a = 4// 创建 op 的自身属性 'a'
            console.log(op, 'op')// {a: 4}
            console.log(op.fb())// 5
    },
    // 70.嵌套函数和闭包,内部函数只可以在外部函数中访问。内部函数包含外部函数的作用域,内部函数形成了一个闭包：它可以访问外部函数的参数和变量，但是外部函数却不能使用它的参数和变量。
    nestedFunction () {
      function outfun (a) {
              function infun (b) {
                return a + b
              }
              return infun
            }
            var fnIn = outfun(3)// 可以这样想：给一个函数，使它的值加3
            var res = fnIn(5)
            console.log(res, 'res')// 8 "res"
            var res1 = outfun(3)(5)
            console.log(res1, 'res1')// 8 "res1"
    }
  }
}
</script>
