<!--房源新增修改组件-->
<template>
  <a-card :body-style="{ padding: '24px 32px' }" :bordered="false">
    <a-form @submit="handleSubmit" :form="form">
      <a-form-item
        label="园区名称"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
      >
        <a-input
          v-decorator="['park_name', { rules: [{ required: true, message: '请选择园区名称' }] }]"
          readOnly
          style="cursor: pointer"
          placeholder="选择园区名称"
          @click="showParkName"
        />
      </a-form-item>
      <a-form-item
        label="楼栋名称"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
      >
        <a-input
          v-decorator="['building_name', { rules: [{ required: true, message: '请选择楼栋名称' }] }]"
          readOnly
          style="cursor: pointer"
          placeholder="选择楼栋名称"
          @click="showBuildingName"
        />
      </a-form-item>
      <a-form-item
        label="楼层名称"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
      >
        <a-input
          v-decorator="['floor_name', { rules: [{ required: true, message: '请选择楼层名称' }] }]"
          readOnly
          style="cursor: pointer"
          placeholder="选择楼层名称"
          @click="showFloorName"
        />
      </a-form-item>
      <a-form-item
        label="房源编号"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
      >
        <a-input
          placeholder="请填写"
          v-decorator="['housing_resources_number', { rules: [{ required: true, message: '请输入房源编号' }] }]"
        />
      </a-form-item>
      <a-form-item
        label="价格"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-input-number
          :min="0.01"
          :max="99999999"
          :step="0.01"
          placeholder="价格"
          v-decorator="['unit_price', { rules: [{ required: true, message: '请输入价格' }] }]"
        />
      </a-form-item>
      <a-form-item
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
        class="form-lable-none"
      >
        <span slot="label"></span>
        <a-select
          placeholder="请选择"
          v-decorator="['price_unit', { rules: [{ required: true, message: '请选择单位' }] }]"
        >
          <a-select-option v-for="item in price_unit" :key="item.value">
            {{ item.label }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item
        label="建筑面积（㎡）"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-input-number
          :min="0.01"
          :max="99999999"
          :step="0.01"
          placeholder="建筑面积"
          v-decorator="['floorage', { rules: [{ required: true, message: '请输入建筑面积' }] }]"
        />
      </a-form-item>
      <a-form-item
        label="使用面积（㎡）"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-input-number
          :min="0.01"
          :max="99999999"
          :step="0.01"
          placeholder="使用面积"
          v-decorator="['usablearea', { rules: [{ required: true, message: '请输入使用面积' }] }]"
        />
      </a-form-item>
      <a-form-item
        label="是否可注册"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-select
          placeholder="请选择"
          v-decorator="['registrable', { rules: [{ required: true, message: '请选择是否可注册' }] }]"
        >
          <a-select-option v-for="item in registrable" :key="item.value">
            {{ item.label }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item
        label="适用用途"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-select
          placeholder="请选择"
          v-decorator="['suit', { rules: [{ required: true, message: '请选择适用用途' }] }]"
        >
          <a-select-option v-for="item in suit" :key="item.value">
            {{ item.label }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item
        label="是否可分割出租"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-select
          placeholder="请选择"
          v-decorator="['divisible_lease', { rules: [{ required: true, message: '请选择是否可分割出租' }] }]"
        >
          <a-select-option v-for="item in divisible_lease" :key="item.value">
            {{ item.label }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item
        label="装修情况"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-select
          placeholder="请选择"
          v-decorator="['renovation_situation', { rules: [{ required: true, message: '请选择装修情况' }] }]"
        >
          <a-select-option v-for="item in renovation_situation" :key="item.value">
            {{ item.label }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item
        label="独立上下水"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-select
          placeholder="请选择"
          v-decorator="['independent_plumbing', { rules: [{ required: true, message: '请选择独立上下水' }] }]"
        >
          <a-select-option v-for="item in independent_plumbing" :key="item.value">
            {{ item.label }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item
        label="朝向"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 7 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-checkbox-group
          :options="direction"
          v-decorator="['direction', { rules: [{ required: true, message: '请选择朝向' }] }]"
        >
        </a-checkbox-group>
      </a-form-item>
      <a-form-item
        label="负责人"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-input
          placeholder="请选择负责人"
          readOnly
          style="cursor: pointer"
          v-decorator="['principal_name', { rules: [{ required: true, message: '请选择负责人' }] }]"
          @click="showPrincipal"
        />
      </a-form-item>
      <a-form-item
        label="层高(m)"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-input-number
          :min="0.1"
          :max="999"
          :step="0.1"
          placeholder="层高"
          v-decorator="['storey_height', { rules: [{ required: true, message: '请输入层高' }] }]"
        />
      </a-form-item>
      <a-form-item
        label="承重(公斤)"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-input-number
          :min="0.01"
          :max="99999999"
          :step="0.01"
          placeholder="承重"
          v-decorator="['bearing_weight', { rules: [{ required: true, message: '请输入承重' }] }]"
        />
      </a-form-item>
      <a-form-item
        label="房间类型"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <!-- <a-checkbox-group
          :options="room_type"
          v-decorator="['room_type',{rules: [{ required: true, message: '请选择房间类型' }]}]">
        </a-checkbox-group> -->
        <a-select
          placeholder="请选择"
          v-decorator="['room_type', { rules: [{ required: true, message: '请选择房间类型' }] }]"
        >
          <a-select-option v-for="item in room_type" :key="item.value">
            {{ item.label }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item
        label="租赁状态"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <a-select
          placeholder="请选择"
          v-decorator="['rental_status', { rules: [{ required: true, message: '请选择租赁状态' }] }]"
        >
          <a-select-option v-for="item in rental_status" :key="item.value">
            {{ item.label }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item
        label="上传图片(最多5张）"
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        :required="true"
      >
        <!-- <imgUpload :list="imgDefaultList" @setImgList="setImgList"></imgUpload> -->
      </a-form-item>
      <a-form-item
        :labelCol="{ lg: { span: 7 }, sm: { span: 7 } }"
        :wrapperCol="{ lg: { span: 10 }, sm: { span: 17 } }"
        class="form-lable-none"
      >
        <span slot="label"></span>
        <a-button @click="gotoBack" type="">返回</a-button>
        <a-button htmlType="submit" type="primary" style="margin-left: 10px">确定</a-button>
      </a-form-item>
    </a-form>
    <!-- <park-name ref="parkName" @selectCall="selectParkCall"></park-name> -->
    <!-- <building-name ref="building" :parkName="park_name" @selectCall="selectBuildingCall"></building-name> -->
    <!-- <floor-name ref="floor" :buildingName="building_name" @selectCall="selectFloorCall"></floor-name> -->
    <!-- <principal ref="principal" @selectCall="selectPrincipalCall"></principal> -->
  </a-card>
</template>

<script>
import { detailSpaceRoom, addSpaceRoom, editSpaceRoom } from '@/api/room'
export default {
  name: 'RoomModific',
  components: {
  },
  props: {
    modificType: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      form: this.$form.createForm(this),
      // imgShowUrl: api.base.imgShowUrl,
      imgDefaultList: [],
      imgNewList: [],
      // 园区id
      // park_id: '',
      // 园区名称
      // park_name: '',
      // 楼栋id
      // building_id: '',
      // 楼栋名称
      // building_name: '',
      // 负责人账号
      principal_user_account: '',
      // 楼层类型
      // 房间类型 1整层;2独立半层;3独栋;4普通单间
      room_type: [
        {
          label: '整层',
          value: '1'
        },
        {
          label: '独立半层',
          value: '2'
        },
        {
          label: '独栋',
          value: '3'
        },
        {
          label: '普通单间',
          value: '4'
        }
      ],
      // 出租类型 1普通用户；2孵化器
      rental_type: [
        {
          label: '普通用户',
          value: '1'
        },
        {
          label: '孵化器',
          value: '2'
        }
      ],
      // 出租状态:0未出租；1已出租;2已下定
      rental_status: [
        {
          label: '未出租',
          value: '0'
        },
        {
          label: '已出租',
          value: '1'
        },
        {
          label: '已下定',
          value: '2'
        }
      ],
      // 朝向:多于一个值用分号分割，1东;2南;3西;4北；5通透
      direction: [
        {
          label: '东',
          value: '1'
        },
        {
          label: '南',
          value: '2'
        },
        {
          label: '西',
          value: '3'
        },
        {
          label: '北',
          value: '4'
        },
        {
          label: '通透',
          value: '5'
        }
      ],
      // 适用用途:1商务办公、2研发、3生产加工、4商业配套、5物业配套
      suit: [
        {
          label: '商务办公',
          value: '1'
        },
        {
          label: '研发',
          value: '2'
        },
        {
          label: '生产加工',
          value: '3'
        },
        {
          label: '商业配套',
          value: '4'
        },
        {
          label: '物业配套',
          value: '5'
        }
      ],
      // 是否可注册:0不可注册;1可注册
      registrable: [
        {
          label: '不可注册',
          value: '0'
        },
        {
          label: '可注册',
          value: '1'
        }
      ],
      // 是否可分割出租:0不可分割出租;1可分割出租
      divisible_lease: [
        {
          label: '不可分割出租',
          value: '0'
        },
        {
          label: '可分割出租',
          value: '1'
        }
      ],
      // 价格单位：1(元／平方／天)，2(元／平方／月)
      price_unit: [
        {
          label: '元／平方／天',
          value: '0'
        },
        {
          label: '元／平方／月',
          value: '1'
        }
      ],
      // 独立上下水:0不是独立上下水;1是独立上下水
      independent_plumbing: [
        {
          label: '不是独立上下水',
          value: '0'
        },
        {
          label: '是独立上下水',
          value: '1'
        }
      ],
      // 装修情况:1精装;2简装;3毛坯;4遗留装修;5专业空间装修;6其他
      renovation_situation: [
        {
          label: '精装',
          value: '1'
        },
        {
          label: '简装',
          value: '2'
        },
        {
          label: '毛坯',
          value: '3'
        },
        {
          label: '遗留装修',
          value: '4'
        },
        {
          label: '专业空间装修',
          value: '5'
        },
        {
          label: '其他',
          value: '6'
        }
      ]
    }
  },
  created () {
    var _id = this.$route.query.id
    if (_id) {
      this.getDetail(_id)
    } else {
      // 表单默认值
      setTimeout(() => {
        this.form.setFieldsValue({
          price_unit: '1'
        })
      }, 100)
    }
  },
  methods: {
    // 获取图片上传数据
    setImgList (list) {
      this.imgNewList = list
      console.log(this.imgNewList)
    },
    handleChange () {
      console.log(1)
    },
    onChange () {
      console.log(1)
    },
    // 详情查询
    getDetail (_id) {
      detailSpaceRoom({
        id: _id
      }).then((res) => {
        var item = res.data
        this.form.setFieldsValue({
          park_name: item.park_name,
          building_name: item.building_name,
          floor_name: item.floor_name,
          housing_resources_number: item.housing_resources_number,
          unit_price: item.unit_price,
          price_unit: String(item.price_unit),
          floorage: item.floorage,
          usablearea: item.usablearea,
          registrable: String(item.registrable),
          suit: String(item.suit),
          divisible_lease: String(item.divisible_lease),
          renovation_situation: String(item.renovation_situation),
          independent_plumbing: String(item.independent_plumbing),
          direction: item.direction && item.direction.split(','),
          principal_name: item.principal_name,
          storey_height: item.storey_height,
          bearing_weight: item.bearing_weight,
          room_type: String(item.room_type),
          rental_status: String(item.rental_status)
        })
        this.park_id = item.park_id
        this.building_id = item.building_id
        this.floor_id = item.floor_id
        this.principal_user_account = item.principal_user_account
        var imgList = []
        if (item.room_images) {
          var imgs = item.room_images.split(',')
          for (var index in imgs) {
            imgList.push({
              uid: index,
              file_name: '',
              object_name: imgs[index],
              name: '',
              status: 'done'
            })
          }
        }
        this.imgDefaultList = imgList
        this.imgNewList = imgList
      })
    },
    // 新增修改确认提交
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          if (this.imgNewList.length === 0) {
            this.$message.error('提示图片未上传')
            return
          } else {
            const sendImg = []
            for (var item of this.imgNewList) {
              sendImg.push(item.object_name)
            }
            const sendImgurl = sendImg.join(',')
            values.room_images = sendImgurl
          }
          values.floor_id = parseInt(this.floor_id)
          values.building_id = parseInt(this.building_id)
          values.park_id = parseInt(this.park_id)
          values.room_type = parseInt(values.room_type)
          // 如果操作类型修改或者添加
          var _id = this.$route.query.id
          if (_id) {
            values.id = _id
            this.edit(values)
          } else {
            this.add(values)
          }
        }
      })
    },
    edit (values) {
      editSpaceRoom(values).then((res) => {
        if (res.data.id) {
          this.$message.success('修改成功')
          this.$router.push('/space/room/list')
        } else {
          this.$message.error('修改失败')
        }
      })
    },
    add (values) {
      addSpaceRoom(values).then((res) => {
        if (res.data.id) {
          this.$message.success('添加成功')
          this.$router.push('/space/room/list')
        } else {
          this.$message.error('添加失败')
        }
      })
    },
    // 点击显示园区弹窗
    showParkName (item) {
      this.$refs.parkName.showVisible()
    },
    // 选择回调
    selectParkCall (item) {
      this.form.setFieldsValue({
        park_name: item.park_name
      })
      this.park_id = item.id
      this.park_name = item.park_name
    },
    // 点击显示负责人弹窗
    showPrincipal (item) {
      this.$refs.principal.showVisible()
    },
    // 选择回调
    selectPrincipalCall (item) {
      this.form.setFieldsValue({
        principal_name: item.name
      })
      this.principal_user_account = item.account
    },
    // 点击显示栋栋弹窗
    showBuildingName (item) {
      if (!this.park_name) {
        this.$message.error('请先选择所属园区')
        return
      }
      this.$refs.building.showVisible()
    },
    // 选择回调
    selectBuildingCall (item) {
      this.form.setFieldsValue({
        building_name: item.building_name
      })
      this.building_id = item.id
      this.building_name = item.building_name
    },
    // 点击显示楼层弹窗
    showFloorName (item) {
      if (!this.building_name) {
        this.$message.error('请先选择楼栋名称')
        return
      }
      this.$refs.floor.showVisible()
    },
    // 选择回调
    selectFloorCall (item) {
      console.log('item:::', item)
      this.form.setFieldsValue({
        floor_name: item.floor_name,
        storey_height: item.storey_height,
        bearing_weight: item.bearing_weight
      })
      this.floor_id = item.id
    },
    // 返回
    gotoBack () {
      this.$router.push('/space/room/list')
    }
  }
}
</script>
